[2021-07-08 16:09] WorldImpex commented on #1842
Lets do #2 @natalia-muzyka thanks!

[2021-07-09 01:05] binaryExDev commented on #1792
@natalia-muzyka I can't reproduce the 3rd issue (attached a screenshot)

I tested it on iOS13.3. What iOS version did you use to test it?

![Screen Shot 2021-07-08 at 8.58.53 PM.png](https://images.zenhubusercontent.com/5fc8d89138215d1055c6d606/a55ecf53-e672-4bb3-b386-418006078d77)

[2021-07-09 07:40] natalia-muzyka commented on #1792
@binaryExDev
The issue is reproducible on iOS 14

[2021-07-09 15:16] natalia-muzyka opened #1844 "The "Done" button isn't displayed after entering valid data on the checkbox screen with the required text input"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in geria2.test@gmail.com // McgzF127
3. Create a new applet
4. Create a new activity with checkbox item
- Allow the "text input option"
- Allow the "text input option required"
5. Save the applet
6. Take an assessment on the mobile app
7. Select any option
8. Enter any text
9. Pay attention to the screen

**Actual r

[2021-07-12 10:21] natalia-muzyka commented on #1842
Verified as fixed
https://www.screencast.com/t/mCiLNqmJ5

Environment
https://library-staging.mindlogger.org/
Win 10 // Chrome 91.0.4472.124
macOS 10.15 // Safari

[2021-07-12 10:21] #1842 closed

[2021-07-13 09:07] natalia-muzyka commented on #1844
Fixed for checkbox but after the latest changes broken for the next item types:
radio button, slider, time range, date, drawing, geolocation
https://www.screencast.com/t/rcCjXqiCq

**Environment**
ML v0.16.34 (staging)
iPhone XR // iOS 14.3
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
https://admin-staging.mindlogger.org/
geria2.test@gmail.com // McgzF127
applet: All
activity: skippable test
pa

[2021-07-13 09:29] natalia-muzyka commented on #1825
Probably, after the [latest changes](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/1844) there is appeared a new issue (new crash):
the screen with audio record with selected text input(even non-required) crashes now:
https://www.screencast.com/t/oKvTQtS2

Environment
ML v0.16.34 (staging)
iPhone XR // iOS 14.3
Samsung Galaxy

[2021-07-13 10:01] natalia-muzyka commented on #1442
The issue is reproducible again
https://www.screencast.com/t/JlCqimIt

Environment
https://admin-staging.mindlogger.org/
ML v 0.16.34 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone XR // iOS 14.3

[2021-07-13 10:03] natalia-muzyka commented on #1841
The testing is blocked by reopened [issue](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/1442): notifications aren't fired on staging

[2021-07-13 14:29] #1818 closed

[2021-07-13 16:11] natalia-muzyka commented on #1442
Verified as fixed

Environment
https://admin-staging.mindlogger.org/
ML v 0.16.34 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone XR // iOS 14.3

[2021-07-13 16:23] natalia-muzyka commented on #1841
Verified as fixed
https://www.screencast.com/t/aLO8NU6O

Environment
ML v0.16.31 (staging)
iPhone XR // iOS 14.3
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
https://admin-staging.mindlogger.org/

[2021-07-13 16:23] #1841 closed

[2021-07-13 18:16] natalia-muzyka commented on #1537
The summary screen still doesn't show the calculation results.

Environment:
ML v0.16.35
Moto G5+ // Android 8.1
geria2.test@gmail.com // McgzF127
Mental Health Screening Survey: English (1)
Applet password: Qwe123!!!

[2021-07-14 07:44] natalia-muzyka commented on #1844
**Verified as fixed:**
The "Done"/"Next" button is displayed after entering valid data.
https://www.screencast.com/t/4lnlLWH0

**Environment**
ML v0.16.35 (staging)
iPhone XR // iOS 14.3
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0

https://admin-staging.mindlogger.org/
owner: geria2.test@gmail.com // McgzF127
users:
johndoeregress@protonmail.com	// 12345678
janedoeregress@protonmail.com	// %pV

[2021-07-14 07:45] #1844 closed

[2021-07-14 09:11] natalia-muzyka commented on #1825
@Matchdev120
I'm able to reproduce a crash:
- on the markdown activity screen with audio link (Android only) https://www.screencast.com/t/qqZrxVCeH
- on the "About" applet screen with audio link (Android only) https://www.screencast.com/t/o0akQIfdple
- on the audio record screen + text input (Android and iOS) https://www.screencast.com/t/oKvTQtS2

Crash log(taking a header image (2) assessment, cr

[2021-07-14 10:03] natalia-muzyka commented on #1838
iOS & Android:
1) Images from DBT Daily Diary Card schema are still displayed as a code:
https://www.screencast.com/t/uRqR3a0nR
2) CA Partners applet still shows 404 Not found
https://www.screencast.com/t/Cx4rYZ8xU
3) Video uploaded via link isn't displayed at all(on the admin panel there is also an error after adding a link, commented about this [here](https://app.zenhub.com/workspaces/mindlogger

[2021-07-15 10:50] natalia-muzyka commented on #1812
Verified as fixed
https://www.screencast.com/t/EcuWwpHx

Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
ML v0.16.35 (prod)

[2021-07-15 10:50] #1812 closed

[2021-07-16 12:24] binaryExDev commented on #1824
@WorldImpex I'm not sure what pages you mentioned in the ticket. Could you upload a couple of screenshots for the Applet/Confirmation pages?

[2021-07-16 12:29] WorldImpex commented on #1824
![IMG_3154](https://user-images.githubusercontent.com/22243307/125947679-e1b15b8a-84b1-4f41-88d4-5631601b5b93.PNG)
![IMG_3153](https://user-images.githubusercontent.com/22243307/125947689-236dc0df-a6a0-4e1a-8972-c37dfb940ab1.PNG)

[2021-07-16 15:13] binaryExDev commented on #1824
@WorldImpex
The 1st screenshot has the cloud image and 2nd is the applet screen but what is the confirmation screen you mentioned in the ticket?

[2021-07-16 18:21] WorldImpex commented on #1824
![File](https://user-images.githubusercontent.com/22243307/125992078-dd089cb5-f30f-444f-ba74-e49a0ff177c0.jpg)

[2021-07-19 07:57] natalia-muzyka commented on #1410
Reproducible on ML pilot v0.16.35
Notifications are displayed only after enabling the internet connection

iPhone XR // iOS 14.3"
Samsung Galaxy S9 // Android 9.0"
Pixel 3 XL // Android 10.0"

[2021-07-19 14:10] Sshetty2 commented on #1112
https://github.com/ChildMindInstitute/mindlogger-app/pull/1817
https://github.com/ChildMindInstitute/mindlogger-applet-builder/pull/414

[2021-07-20 09:01] natalia-muzyka commented on #1833
Verified as fixed:
https://www.screencast.com/t/nY2O6cVH

Environment:
ML v0.16.37 (staging)
iPhone 6 Plus // iOS 12.3.1
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
Samsung Galaxy S9 // Android 9.0

[2021-07-20 09:01] #1833 closed

[2021-07-20 14:33] natalia-muzyka opened #1860 "Mobile app crashes after completing the assessment with the uploaded video (>100Mb)"
**Preconditions**
The mobile app(Mindlogger Pilot) is installed and launched
The user is logged in:
geria2.test@gmail.com // McgzF127

**Steps to reproduce**
1. Open a mobile app
2. Start an assessment with the video media type (e.g. "Media(lazy loader)")
3. Upload the >100Mb video or record the max size video (1 minute)
4. Complete the assessment
5. Pay attention to the screen

**Actual result**

[2021-07-20 17:06] natalia-muzyka opened #1862 "The activity that should be based on cumulative score isn't shown up after user met/exceeded the threshold"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: geria2.test@gmail.com // McgzF127
3. Create a new applet with two activities (e.g. with one radio/checkbox type item)
4. Create a new(third) activity with option scores selected for each item:
e.g. screen1 (radio: scores 1,2,3),
screen2 (checkbox: : scores 1,2,3),
screen3 (slider: scores 1,2,3,4,5)
5. Add "cumul

[2021-07-20 18:49] peterpeterparker opened #1864 "feat: applet theme - reskinning"
### Feature Description

For the cooperation with external studies, it was suggested that applets' design should becomes more flexible to adapt external studies. To limit the scope of the feature, the idea is to introduce themes, so that a theme (a set of predefined style) can be applied to an applet.

Themes have to be configured by the team in the database, there is no GUI to create and handle t

[2021-07-21 07:09] natalia-muzyka opened #1866 "The activity that should be based on cumulative score is displayed before user met/exceeded the threshold"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: geria2.test@gmail.com // McgzF127
3. Create a new applet with two activities (e.g. with one radio/checkbox type item)
4. Create a new(third) activity with option scores
5. Add "cumulatives score" item and set up:

- Items within cumulative score: select all the items
- Options: At or above
- Score: 10
- Output t

[2021-07-22 05:00] mtg137 commented on #1840
@natalia-muzyka For 1), could you please upload video for taking assessment?
( I tested on 1080 x 2400 simulator, but I wasn't able to repro )

[2021-07-22 10:37] natalia-muzyka commented on #1824
The background of the applet page and confirmation page is updated.

Issues:
1) The user name is almost invisible on the applet page because of the white text
https://www.screencast.com/t/Hw9G6iKa

2) [iOS] The progress bar is almost invisible on the confirmation page because of the light progress bar
https://www.screencast.com/t/ELsAmynccTFU

ML v0.16.40 (staging)
Samsung Galaxy S7 Edge SM-G935FD

[2021-07-22 11:37] natalia-muzyka commented on #1866
Verified as fixed
https://www.screencast.com/t/AeZzINwkW2M

Environment
https://admin-staging.mindlogger.org/
geria2.test@gmail.com // McgzF127
iPhone 6 Plus // iOS 12.3.1
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0

[2021-07-22 11:37] #1866 closed

[2021-07-22 12:13] natalia-muzyka opened #1868 "[Android] The applet screen is updated with a delay(more than 10 seconds) according to the threshold achieved in Cumulative Score"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: geria2.test@gmail.com // McgzF127
3. Create a new applet with at least one activity
4. Create another one activity with option scores selected for each item
5. Add the "cumulative score" item and set up to show the first activity after the user meet the threshold
6. On the mobile app complete the activity to mee

[2021-07-22 12:52] natalia-muzyka commented on #1862
Verified as fixed
https://www.screencast.com/t/UcyLt56utmR

Environment
https://admin-staging.mindlogger.org/
geria2.test@gmail.com // McgzF127
ML v0.16.40 (staging)
iPhone 6 Plus // iOS 12.3.1
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
Samsung Galaxy S9 // Android 9.0

[2021-07-22 12:52] #1862 closed

[2021-07-23 09:19] natalia-muzyka commented on #1825
All the issues from the comment above are fixed

Environment:
ML v0.17.1 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone 6 Plus  // iOS 12.3.1

[2021-07-23 09:19] #1825 closed

[2021-07-23 14:06] Sshetty2 commented on #1112
@natalia-muzyka
![image.png](https://images.zenhubusercontent.com/5c7c2db0568ea92b01579c9a/74e41f17-bcb2-45a3-89a9-34c27d10f76b)

[2021-07-23 14:36] natalia-muzyka opened #1869 "Webapp [Mobile] [UI/UX] / Applet and activity page issues"
**1) The point(response) hasn't appeared after tapping on the slider**
https://www.screencast.com/t/jSmRqaC67h
reproducible only for: iPhone 6 Plus // iOS 12.4.8 // 5.5" 1080 x 1920 pixels, 16:9 ratio

**2) The response options are too small on the mobile and not comfortable to interact with.**
Suggestions:
-increase the space(margin-top and bottom) between response options,
-set the response opti

[2021-07-23 15:06] natalia-muzyka commented on #1840
@mtg137
Maybe this is caused by the system navigation bar?
So you should decrease the device height in your simulator to reproduce this issue.

video: https://www.screencast.com/t/xD9vQjqZx03
account: johndoeregress@protonmail.com // 12345678
applet / activity: all / photo + text input

[2021-07-23 15:08] mtg137 commented on #1840
thank you!

[2021-07-23 15:09] mtg137 commented on #1840
@natalia-muzyka could you please double check video link? I am getting page not found error.

[2021-07-26 09:41] natalia-muzyka opened #1872 "[UI] The radio, checkbox button's color is not displayed according to the button's background"
**Preconditions**
The mobile app is installed and launched
The user is logged in (staging)
geria2.test@gmail.com	// McgzF127
The applet/activity with a color palette is assigned to the user (webapp test(1) / color palette)

**Steps to reproduce**
1. Open the mobile app
2. Proceed to the activity with a color palette (webapp test(1) / color palette)
3. Pay attention to the options displaying

**Act

[2021-07-26 10:03] natalia-muzyka opened #1873 "The order of color is broken for randomized response"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
geria2.test@gmail.com // McgzF127
The mobile app is installed and launched
The user is logged in

**Steps to reproduce**
1. Open the site https://admin-staging.mindlogger.org/
2. Create an activity with a radio button and checkbox item. For both:
- set any color palette
- allow the "randomize response

[2021-07-26 14:20] natalia-muzyka opened #1874 "The applet with activity that contains stacked item, cumulative score, media items is not hidden on the website"
**Actual result:**
1) Stacked items: after proceeding to the stacked item the activity is blocked
geria2.test@gmail.com	// McgzF127
applet / activity: All / header image
video: https://www.screencast.com/t/eGgFBMxJ9

2) Cumulative screen: cumulative screen is missed
geria2.test@gmail.com	// McgzF127
applet / activity: based on cumulative score / cumulative
video: https://www.screencast.com/t/GcbAS

[2021-07-26 14:46] natalia-muzyka commented on #1864
@BarrySunderland @WorldImpex how can I test this feature?
Are there separate schemas with defined themes or all the schemas should contain themes?

[2021-07-26 15:17] WorldImpex commented on #1864
@natalia-muzyka There should be a way to define which skin the editor wants for the applet in the builder

[2021-07-26 15:51] peterpeterparker commented on #1864
As documented above:

There is an API Endpoint (CRUD) which can be use by the developer or admin to set themes in the database.

If no themes are defined, set in the database, there are no themes available in the administration panel respectively the editor cannot select a theme. If there are themes defined, then a dropdown with a list of themes is made available in the applet builder of the admin

[2021-07-26 16:04] WorldImpex commented on #1864
@peterpeterparker When will a theme be added so we can QA?

[2021-07-26 16:06] peterpeterparker commented on #1864
Do not know. That should probably be discussed between Wil, Anirudh and @BarrySunderland

For QA I guess you can also define "a theme", does not have to be "the theme".

[2021-07-27 07:28] natalia-muzyka commented on #1824
Verified as fixed
https://www.screencast.com/t/fRV73afs1ZY

ML v0.17.3(staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone 6 Plus // iOS 12.3.1

[2021-07-27 07:28] #1824 closed

[2021-07-27 08:54] natalia-muzyka commented on #1112
works as expected

Environment:
https://admin-staging.mindlogger.org/
Windows 10 // Chrome 92.0.4515.107
macOS 10.15.6 // Safari 13.2
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone 6 Plus  // iOS 12.3.1

[2021-07-27 08:59] #1112 closed

[2021-07-27 10:13] natalia-muzyka commented on #1868
@devbtech The issue is still reproducible.
There is still a delay, though much shorter now (~25 seconds)

Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
user: geria.test@gmail.com // 3FuuFz60
applet / activity:
based on cumulative score (1) / cumulative

[2021-07-27 10:40] natalia-muzyka opened #1875 "[Mobile app] The text color isn't displayed as the visible(contrast) color for the dark-colored options"
**Steps to reproduce**
1. Open a site https://admin.mindlogger.org/
2. Create an activity with two items (radio and checkbox)
3. Add few options to each item, allow the Set color palettes
4. Set a few dark colors for options(manually) on both items:
RGB:
26 35 126;
13 71 161;
0 77 64;
62 39 35;
5. Save the activity
6. Proceed to the saved activity on the mobile app
7. Pay attention to the displayi

[2021-07-27 14:17] natalia-muzyka opened #1876 "[UI][Android] The status bar text is not color contrast enough"
**Steps to reproduce**
1. Install and launch the mobile app
2. Pay attention to the status bar displaying
3. Log in and Navigate to the different screens
4. Pay attention to the status bar displaying

**Actual result:**
The status bar text is not color contrast enough on all the screens

**Expected result:**
The status bar text is color contrast enough on all the screens. Previously the text color

[2021-07-28 09:25] WorldImpex commented on #814
https://www.screencast.com/t/5La3weqwLf

[2021-07-28 17:26] WorldImpex commented on #1838
Based on what @devbtech has provided. 2 and 6 are completed per the below screenshot. The other ideas will be worked on in future milestones and this ticket can go to the top of the backlog once confirmed fixed by @natalia-muzyka

![image.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/3b71b791-59d6-47e5-bf5e-fb518c861343)

[2021-07-29 00:59] devbtech commented on #1838
Here's latest update. 2), 3) and 6) are fixed as per screenshot below.

![image.png](https://images.zenhubusercontent.com/5e248ca6aaf6ad9f4a061291/f8d4eba4-74f7-4218-b14b-0f54c4e6504c)

[2021-07-29 08:50] natalia-muzyka opened #1881 "Regular user is able to see and download the "MindLogger" app in Play store"
**Expected**: Regular users should see and download only the "MindLogger **Pilot**" app

**Notes**: Users can download the ML app with the same app version as Pilot.

**Screenshot**
https://files.slack.com/files-pri/TDUCR6ZRP-F0292EX8RQS/img-cad27914ba313fb304820d465e998c80-v.jpg

[2021-07-29 09:56] natalia-muzyka commented on #1876
Verified as fixed

Environment
ML v0.17.6 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0

[2021-07-29 09:56] #1876 closed

[2021-07-29 11:34] natalia-muzyka commented on #1875
Verified as fixed
https://www.screencast.com/t/AseXt0mVzw

iPhone 6 Plus // iOS 12.3.1
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
ML v0.17.3 (staging)
user: geria.test@gmail.com // 3FuuFz60
applet / activity: webapp test / color palette

[2021-07-29 11:34] #1875 closed

[2021-07-29 11:48] natalia-muzyka commented on #1872
@Matchdev120
Could you clarify, please?
It was decided to use black color for all buttons instead of presented in the requirements palette(background + button)?
https://www.screencast.com/t/P9YBTpWCBk

[2021-07-29 12:34] natalia-muzyka commented on #1792
Fixed: 1, 2

Failed: 3, 4

**#3 user still needs to do at least 2 taps to get the time picker, and 3 taps to apply the changes and close it**
https://www.screencast.com/t/k2ojh1NqAFR
https://www.screencast.com/t/aByDtWy0m5

#4 is still reproducible for video recorder
https://www.screencast.com/t/7ELaaXiNiNc

ML v0.17.6 (staging)
iPad Air 2 Wi-Fi // iOS 14.6 // 1536x2048 // 9.7"
iPhone 6S // iOS 14

[2021-07-29 13:28] natalia-muzyka commented on #1872
The current behavior is acceptable.
Verified and closed.

[2021-07-29 13:28] #1872 closed

[2021-07-29 13:32] WorldImpex commented on #1840
Item 1 is going to go backlog

Item 2 @mtg137 is going to create a PR for it

[2021-08-02 07:34] natalia-muzyka commented on #1537
The calculation works now for a newly created applet:
https://www.screencast.com/t/be4EZvJFPL

Is there a possibility to check additionally does the calculation work properly within a separate cumulative item?
When I proceed to a separate cumulative item in the applet builder I don't see which screens are included for separate calculations:
https://www.screencast.com/t/fYG8sB4FmIRb

[2021-08-02 10:40] natalia-muzyka opened #1885 "The uploaded watermark isn't displayed in the mobile app"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create a new applet with at least one activity
3. Add a watermark ![101.jpg](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/f74b8292-3bef-4253-aca4-b3e1b18772cc)
4. Save the activity
5. Complete the activity with a watermark on the mobile app (iOS)
6. Pay attention to the screen
7. Start the activity with

[2021-08-02 12:05] natalia-muzyka commented on #1840
email field issue is fixed, but now there is an issue with the password field:
after entering even 2-4 characters the password mask is shortened with "..."
https://www.screencast.com/t/S9Q55RIuuKH

**Environment:**
ML v0.17.8
iPhone 6 Plus  // iOS 12.3.1 // 1080x1920 // 5,5"
iPhone 6s  // iOS 14.4 // 750x1334 // 4,7"

[2021-08-02 12:45] natalia-muzyka commented on #1838
**verified as fixed:**
#2, 3,
iOS audio file isn't replayed,
Android crash on markdown with audio link
https://www.screencast.com/t/npJrNdRNqlC

ML v0.17.8 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone 6 Plus  // iOS 12.4.8

[2021-08-02 12:57] WorldImpex opened #1887 "[PROD] Blue ? are shown next to each response option"
Steps to recreate
1. Log into PROD account on mobile device
2. Open "Pediatric Screener Self-Report"
3. See response options

Expected: Response options just have texst
Actual: Response options have text and a blue ?

![File.jpg](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/870917f2-d4f8-40d3-b707-cf893887c609)

[2021-08-02 12:58] natalia-muzyka commented on #1868
Verified as fixed
https://www.screencast.com/t/nSi9Oob9sdr

Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
ML v0.17.8 (staging)
user:
geria2.test@gmail.com	McgzF127
applet / activity:
based on cumulative score (1) / cumulative

[2021-08-02 12:59] #1868 closed

[2021-08-02 14:19] natalia-muzyka commented on #1792
#3 time picker is still not user friendly
https://www.screencast.com/t/ciTnRlO5f

#4 verified as fixed
https://www.screencast.com/t/mELYoeub

ML v0.17.8 (staging)
iPad Air 2 Wi-Fi // iOS 14.6 // 1536x2048 // 9.7

[2021-08-02 14:45] natalia-muzyka opened #1888 "Previously created ped screener applets are disappeared from the mobile app (after refreshing on the admin panel the applets are still hidden)"
**Preconditions**
The mobile app is installed and launched

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in to the account with the previous version of pediatric screener:
geria.test@gmail.com // 123456
3. Open the mobile app and log in to the same account
4. Compare the applets list on the admin dashboard and mobile app
5. Observe the result

**Actual result*

[2021-08-03 08:42] natalia-muzyka opened #1890 "The "()" is displayed instead of the user's name who created an invitation on the public link invitation page"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: johndoeregress@protonmail.com	// 12345678
3. Proceed to any applet's invitation page
4. Generate public link that requires an account
5. Open the link
6. Pay attention to the screen

**Actual result**
The "()" is displayed instead of the user's name who created an invitation on the public link invitation page

*

[2021-08-04 09:01] natalia-muzyka commented on #1885
Verified as fixed
https://www.screencast.com/t/F6gMx0VbaU

Environment
ML v.0.17.8 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone 6 Plus // iOS 12.3.1
geria2.test@gmail.com // McgzF127
applet: watermark test, watermark test new, watermark from URL
Applet password: Qwe123!!!

[2021-08-04 09:01] #1885 closed

[2021-08-04 09:05] #1887 closed

[2021-08-04 09:12] natalia-muzyka opened #1894 "The watermark is displayed with an incorrect ratio (stretched horizontally)"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create a new applet with at least one activity
3. Add a watermark 101.jpg
4. Save the activity
5. Complete the activity with a watermark on the mobile app
6. Pay attention to the screen

**Actual result**
The watermark is displayed with an incorrect ratio (stretched horizontally)

**Expected result**
The watermark is di

[2021-08-04 09:18] natalia-muzyka commented on #1840
verified as fixed
https://www.screencast.com/t/imWnCrje

Environment:
ML v0.17.9 (staging)
iPhone 6 Plus // iOS 12.3.1 // 1080x1920 // 5,5"
iPhone 6s // iOS 14.4 // 750x1334 // 4,7"

[2021-08-04 09:18] #1840 closed

[2021-08-04 14:38] WorldImpex commented on #1864
@natalia-muzyka Yes these are expected behaviors. Thanks for the detailed write up!

[2021-08-05 00:17] binaryExDev commented on #1894
@natalia-muzyka I'm not certain if I use a static width with the ratio. Btw, this is what I fixed the issue.

![Screen Shot 2021-08-04 at 8.13.19 PM.png](https://images.zenhubusercontent.com/5fc8d89138215d1055c6d606/2029fd28-bd17-47eb-99b0-6cb21a4ea695)

[2021-08-05 07:47] natalia-muzyka commented on #1894
@binaryExDev could you make, please, the watermark smaller (80% of the current size) and put it on the top left corner in the scope of this ticket? thank you)
for example https://www.screencast.com/t/xtRnaHC1tS

[2021-08-05 12:04] natalia-muzyka commented on #1537
As a #2 is moved to backlog, and this ticket verified as fixed

[2021-08-05 12:05] #1537 closed

[2021-08-05 12:35] WorldImpex commented on #1888
HBN has created a new ped screener using the applet builder so developer efforts have stopped supporting the GitHub version of ped screener

[2021-08-06 11:25] natalia-muzyka commented on #1807
Reproducible for the Tokens and Frequency tabs.
Expected: all the DataViz tabs are displayed in the UTC timezone

Video: https://www.screencast.com/t/zCYbyRsuzJC

Environment:
https://admin-staging.mindlogger.org/
Win 10 // Chrome 91

[2021-08-06 12:44] WorldImpex opened #1900 "Draw Updates"
1) drawing will look two times more smooth than before ( because my changes includes optimization stuff for drawing delay )
2) by clicking export button on admin panel, user'll be able to download another zip file for drawing responses

[2021-08-08 22:34] Matchdev120 commented on #814
@WorldImpex How can make a selection after scrolling the values in that case?

[2021-08-09 08:15] WorldImpex commented on #814
@Matchdev120 Could it be that the user can scroll the list by dragging the list and then clicking an item? Right now when the user drags, a selection is made when their finger comes of the screen. The user isn't able to see the whole list in that case

[2021-08-09 13:13] Sshetty2 commented on #1785
https://github.com/ChildMindInstitute/mindlogger-applet-builder/pull/476

https://github.com/ChildMindInstitute/mindlogger-admin/pull/1185

[2021-08-10 03:49] Matchdev120 commented on #814
@WorldImpex

Btw, do we have a select item type?

[2021-08-10 06:24] natalia-muzyka commented on #1807
Verified as fixed
https://www.screencast.com/t/FjRgtRcYY

Environment:
https://admin-staging.mindlogger.org/
Win 10 // Chrome 91
geria2.test@gmail.com // McgzF127
applet: TokenLogger Sleep geria2
Applet password: Qwe123!!!

[2021-08-10 06:24] #1807 closed

[2021-08-10 06:58] natalia-muzyka commented on #1894
Verified as fixed
https://www.screencast.com/t/rmeNKdMp11

Environment
ML v.0.17.13 (staging)
Samsung Galaxy Tab S6 SM-T865	// 9.0
iPad Air 2 Wi-Fi // 14.6
iPhone 7	// 13.1.1
Samsung Galaxy S7 Edge SM-G935FD	// 8.0

[2021-08-10 06:58] #1894 closed

[2021-08-10 07:09] natalia-muzyka commented on #1792
time picker didn't change on iOS 14:
https://www.screencast.com/t/N315eyj8p9p

ML v0.17.13 (staging)
iPad Air 2 Wi-Fi // iOS 14.6
iPhone 8 Plus // iOS14.3

[2021-08-10 08:03] natalia-muzyka commented on #1864
As per the comment above, the requirements are met. Verified and closed.

[2021-08-10 08:03] #1864 closed

[2021-08-10 08:38] WorldImpex commented on #814
No but I have a ticket for a dropdown item to be added to the applet builder @Matchdev120

[2021-08-10 10:49] Matchdev120 commented on #814
@WorldImpex
As the age-selector uses dropdown, I basically test it on the item type but I wasn't able to test the dropdown item directly on my end. I think you can assign me the dropdown ticket as well.

[2021-08-10 14:13] natalia-muzyka commented on #1751
Reproducible on the ML v 0.17.13 as well
https://www.screencast.com/t/enkVvtW3K

iPhone 7 // iOS 13.1.1
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0

[2021-08-11 01:37] binaryExDev commented on #975
@WorldImpex Should I build the duration picker on web app as well?

[2021-08-11 07:49] WorldImpex commented on #975
@binaryExDev Yes

[2021-08-12 04:19] devbtech commented on #1838
All issues above are fixed except superscript

[2021-08-12 08:54] natalia-muzyka commented on #1838
@devbtech
verified as fixed on the About page,
but on the activity screen(markdown item and the text/large text value) the mark and subscript are still not displayed:
https://www.screencast.com/t/rfqFFYU24hL

ML v0.17.14 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone 7 // iOS 13.1.1

[2021-08-12 09:10] natalia-muzyka commented on #1792
@binaryExDev
#3 the time picker issue is fixed(functionally) but on the tablet screen, it is shifted to the left side.
Could you move it to the center?:
https://www.screencast.com/t/QX1Odq8s

ML v0.17.14 (staging)
iPad Air 2 Wi-Fi // iOS 14.6

[2021-08-12 11:00] #1264 closed

[2021-08-12 15:54] natalia-muzyka opened #1906 "The video recording is missing in the exported csv file and ZIP archive"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: avani_ml@protonmail.com	// 12345678
3. Create a new activity with media items: photo, video, audio record, drawing
4. Complete the activity on the mobile app, add all the media (take a photo, record a video, record audio, draw smth)
5. Proceed to the admin panel/users tab
6. Export data
7. Compare the actually a

[2021-08-13 07:40] natalia-muzyka commented on #1442
the issue is still reproducible,
video: https://www.screencast.com/t/GqqtdecW

**ML v 0.17.15 (staging)**
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone 7 // iOS 13.1.1
owner: avani_ml@protonmail.com // 12345678
user: maddison_ml@protonmail.com // qwertyuio
applets: NIMH, Applet 1, TokenLogger School
Applet password: Qwe123!!!

[2021-08-13 07:58] natalia-muzyka commented on #1838
verified: all the issues are fixed except the superscript
https://www.screencast.com/t/kQ0aK3YPcqW

ML v 0.17.15 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0
iPhone 7 // iOS 13.1.1

[2021-08-13 07:59] #1838 closed

[2021-08-13 15:04] natalia-muzyka commented on #1442
@devbtech @HarutQA
we don't see a new build to check notifications,
on the 0.17.15 there is still the same issue
also noticed that currently, after scheduling the activity status is displayed as "to 7:59 AM" though it was scheduled from 8:00 AM to 11:59 PM
https://www.screencast.com/t/gNRzNXo6o

[2021-08-16 14:15] binaryExDev commented on #975
@WorldImpex I have one question.
Are there any limitations for days/weeks/months/years?

[2021-08-16 15:49] HarutQA opened #1909 "Language translation"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: avani_ml@protonmail.com / 12345678
3. Open dashboard applets
4. Change language into France
5. Open any applet
6. Open edit applet

**Actual result**
Screen info is in France except "Add Activity" button.

**Expected result**
"Add Activity" button should be translated into France.![Screen Shot 2021-08-16 at 18.1

[2021-08-16 18:27] WorldImpex commented on #975
I think this was resolved in a slack conversation. Each duration of time (days, minutes, etc) functions independently and they do not work together

[2021-08-17 07:09] natalia-muzyka opened #1912 "Only one activity is shown up after the user achieved the treshold for both cumulatives"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: avani_ml@protonmail.com	12345678
3. Create a new applet with at least two activities
4. Create third activity and set up :
- at least three items with option scores
5. Create cumulative item with at least two cumulatives
- for cumulative 1 select the item1 + item2 scores, and displaying the activity 1 if user me

[2021-08-17 23:53] Matchdev120 commented on #1912
@WorldImpex Would you please explain the expected result?

Actually, I'm not sure what should happen after the user achieved the treshold for both cumulatives.

[2021-08-18 00:00] Matchdev120 commented on #1909
@WorldImpex I don't think localization is not implemented yet in applet-builder.

Do you want me to implement localization?

[2021-08-18 13:06] WorldImpex commented on #1909
Lets hold off right now

[2021-08-18 14:01] WorldImpex commented on #1912
If the applet has multiple cumulative score groupings and 2 or more thresholds are met that are supposed to show an activity. Only one activity is shown

[2021-08-18 14:55] HarutQA opened #1913 ""Forget password" screen back functionality"
Steps to reproduce
1. Open a site https://admin-staging.mindlogger.org/
2. Tap on "Forgot Password?" text
3. From the opened "Reset Password" screen press back button or site main logo

Actual result
From the "Forgot Password?" screen it's impossible to come back to main screen.

Expected result
"Forgot Password?" screen should have "https://images.zenhubusercontent.com/103405139/59514aa1-53a1-418

[2021-08-18 15:13] WorldImpex commented on #1792
@binaryExDev Why is this on hold?

[2021-08-18 15:24] Matchdev120 commented on #1792
on Purpose or by Accident???

[2021-08-18 15:28] binaryExDev commented on #1792
By Accident.

[2021-08-18 15:53] HarutQA opened #1914 ""Log In" screen language change UI issue"
Steps to reproduce
1. Open a site https://admin-staging.mindlogger.org/
2. Open Log in screen
3. Change language info France

**Actual result**
After changing site language into France, choose "Language" button appears at the bottom of screen.

**Expected result**
Choose "Language" button should keep its place on

screen.https://images.zenhubusercontent.com/103405139/8191eb85-5d79-40e4-98c8-53d449

[2021-08-19 09:29] WorldImpex commented on #1906
.Quicktime file cannot be played on macbook pro

[2021-08-19 16:26] HarutQA opened #1919 "Next" and "Done" buttons improvement"
Steps to reproduce
1. Open Mobile application(Android/iOS)
2. "New User" text
3. Fill valid values for "Email" field
4. On the opened keyboard pay attention to "Done" sign in the right bottom corner.
5. The same sign in the first "Log in" screen keyboard

Actual result
 "Done" sign in the right bottom corner on keyboard for editable field.

Expected result
For screens which has many fields to edit

[2021-08-20 10:19] WorldImpex commented on #1912
Works as expected. New issue

If the user takes the assessment more then once then the activities shown is reset

Steps to recreate
1. Take an assessment with more than one activity to be shown
 avani_ml@protonmail.com 12345678 | Cumulative with multiple activities
2. Take assessment once to score under 4 total points
3. See activity 3 shown
4. Take assessment again with score above 4
5. See activ

[2021-08-20 14:12] HarutQA opened #1921 ""Sign up" screen password repeat checking issue"
Steps to reproduce
1. Open https://web-staging.mindlogger.org/signup
2. Fill valid information for email, First Name and Last Name
3. Fill valid information for first field of Password

Actual result
Pay attention on error message. It says "**Passwords Do Not Match**"

Expected result
There shouldn't be such a error message, cause the user didn't added second password field.

![Screen Shot 2021-08

[2021-08-20 19:17] HarutQA opened #1922 "Calendar notification alert wrong day format"
Steps to reproduce
1. Open https://admin-staging.mindlogger.org/#/login?lang=en_US
2. Log in. Example: haruttsd@gmail.com / harut91
3. Choose any applet, e.g. "First applet"
4. Tap on Calendar
5. Choose any date and open notifications section
6. Select "Set Reminder" option
7. From the opened section(Text) choose minus digits, e.g. -1, -2, -3 etc.

**Actual result**
It is possible to choose minus

[2021-08-20 19:41] HarutQA commented on #1792
Works correctly. Tested on MacBook Pro Safari 14.0.3

[2021-08-23 13:37] HarutQA commented on #1442
Bug is still reproducible.Notifications are not fired.
Staging
https://admin-staging.mindlogger.org/#/dashboard?lang=en_US

Redmi note 9//Android Version 11
iPhone 11 Pro // iOS 13

[2021-08-23 15:52] HarutQA commented on #1906
Bug is reprodusable

Steps to reproduce
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: avani_ml@protonmail.com // 12345678
3. Create a new activity with media items: photo, video, audio record, drawing
4. Complete the activity on the mobile app, add all the media (take a photo, record a video, record audio, draw smth)
5. Proceed to the admin panel/users tab
6. Export data
7. Compa

[2021-08-23 16:14] HarutQA commented on #1442
Notifications are working correctly.
https://matter-lab.slack.com/files/U02AMARB2TD/F02CRFT4H7S/screen_recording_2021-08-23_at_19.59.44.mov

Environment:
https://admin-staging.mindlogger.org/
MacBook Chrome
Redmi note 9 // Android 11
iPhone 11 Pro // iOS 14.7.1

[2021-08-23 17:24] HarutQA commented on #1906
Works correct, downloaded file has all the answers.
![Screen Shot 2021-08-23 at 21.15.33.png](https://images.zenhubusercontent.com/61125099ad96283f91ec1d29/41a2cfb5-9a59-4797-9722-f6e7c9d9589f)

Environment
https://admin-staging.mindlogger.org/
owner: avani_ml@protonmail.com // 12345678
user: maddison_ml@protonmail.com // qwertyuio
Applet password: Harutyun910325$

Redmi note 9// Android 11
iPhone

[2021-08-23 17:25] #1906 closed

[2021-08-23 18:04] HarutQA commented on #1751
Fixed, works correctly.

Redmi Note 9, Android 11
iPhone 11 Pro, iOS 14.7.1

[2021-08-23 18:04] #1751 closed

[2021-08-24 13:55] HarutQA commented on #1912
Fixed, tested during regression testing.

[2021-08-24 13:55] #1912 closed

[2021-08-27 12:57] HarutQA opened #1927 "PROD "Change password""
Steps to reproduce
1. Open Mobile App(Android, iOS)
2. Log in. Example: haruttsd@gmail.com / harut91
3. Open "User settings" screen. (Up right corner)
4. Tap on "Change password" field
5. Tap on "Update" button

Actual result
Appears error message text which says "The current password you entered was incorrect".

Expected result
There shouldn't be such a message, cause user didn't entered any data

[2021-08-27 13:03] HarutQA opened #1928 "Prod "Change password" field"
Steps to reproduce
1. Open Mobile App(Android, iOS)
2. Log in. Example: haruttsd@gmail.com / harut91
3. Open "User settings" screen. (Up right corner)
4. Tap on "Change password" field
5. Enter data
Pay attention to the keyboard.

Actual result
On keyboard(right bottom) there is "Done" sign for.

Expected result
On keyboard(right bottom) instead of  "Done" sign there should be "Next" sign as after

[2021-08-27 14:57] HarutQA opened #1929 "PROD Translation issue"
Steps to reproduce
1. Open https://admin-staging.mindlogger.org/#/login?lang=en_US
2. Change language into French
3. Log in. Example: haruttsd@gmail.com / harut91
Pay attention to the "CONFIGURE AN APPLET" button

**Actual result**
"CONFIGURE AN APPLET" button is in English

**Expected result**
"CONFIGURE AN APPLET" button should be in French - CONFIGURER UNE APPLET

Environment
Macbook Pro Chrome

[2021-08-30 17:50] HarutQA opened #1931 "Password eye icon issue"
Steps to reproduce
1. Open https://admin-staging.mindlogger.org/#/login?lang=en_US
2. Log in. Example: haruttsd@gmail.com / harut91
3. Select any applet. e.g. First applet
4. Tap on "View Data"
5. enter any password
Pay attention to "Enter password" password eye icon

Actual result
Password eye icon works incorrect

Expected result
When password is invisible eye icon should be with closed sign, wh

[2021-08-30 18:02] jj105 commented on #1931
@HarutQA could you please put url in the channel and upload link to it? ( it's not viewable on my side )

[2021-08-30 18:52] HarutQA commented on #1931
@jj105 Do you see the video now?
https://matter-lab.slack.com/files/U02AMARB2TD/F02D6PXJ717/screen_recording_2021-08-27_at_23.03.44.mov

[2021-08-31 09:05] HarutQA commented on #1927
Fixed, works correctly.

[2021-08-31 09:05] #1927 closed

[2021-09-01 14:45] Sshetty2 commented on #1785
https://github.com/ChildMindInstitute/mindlogger-app/pull/1908

https://github.com/ChildMindInstitute/mindlogger-web/pull/116

[2021-09-03 09:38] WorldImpex opened #1932 "Update ToolTip Icon"
Update the design of the tooltip on mobile and webapp to the below

![image.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/23219e9b-7973-4e03-ae23-65e9d888248f)

[2021-09-03 10:00] HarutQA opened #1933 "Basket info issue"
Steps to reproduce
1. Open a site https://library-staging.mindlogger.org/#/?lang=en_US
2. No need to Log in
3. Hover mouse to basket(It says "Go to basket")
4. Tap on basket and goo inside of basket.
5. Hover mouse on basket icon again.

**Actual result**
There is message(Alert) which says "Go to basket".

**Expected result**
There shouldn't be such a message cause you are already in basket.

**En

[2021-09-04 15:53] Sshetty2 commented on #1785
New PRs.
https://github.com/ChildMindInstitute/mindlogger-applet-builder/pull/492
https://github.com/ChildMindInstitute/mindlogger-admin/pull/1224
https://github.com/ChildMindInstitute/mindlogger-web/pull/122

[2021-09-06 09:14] #1770 closed

[2021-09-07 12:39] natalia-muzyka commented on #1442
**the issue is reproducible again,**
video: https://www.screencast.com/t/gRzzwAJ4fe

**Environment:**
https://admin-staging.mindlogger.org/
Win 10 // Chrome 93.0.4577.63
ML v 0.17.22 (staging)
Samsung Galaxy S7 SM-G930 // Android 8.0
iPhone 12 Pro Max // iOS 14.4
owner: avani_ml@protonmail.com // 12345678
user: maddison_ml@protonmail.com // qwertyuio
applets: subscales, Applet 1
Applet password: Q

[2021-09-07 13:46] natalia-muzyka commented on #1442
verified as fixed
video: https://www.screencast.com/t/rSf4bfUqH

Environment:
https://admin-staging.mindlogger.org/
Win 10 // Chrome 93.0.4577.63
ML v 0.17.22 (staging)
Samsung Galaxy S7 SM-G930 // Android 8.0
iPhone 12 Pro Max // iOS 14.4
owner: avani_ml@protonmail.com // 12345678
user: maddison_ml@protonmail.com // qwertyuio
applets: subscales, Applet 1, NIMH
Applet password: Qwe123!!!

[2021-09-07 14:37] natalia-muzyka opened #1936 "Always available activity: The mobile app crashes when the idle time is finished"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
avani_ml@protonmail.com // 12345678
The mobile app is installed and launched
The user is logged in: avani_ml@protonmail.com // 12345678

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Proceed to the general calendar of any applet (e.g. "subscales")
3. Schedule the activi

[2021-09-08 07:46] natalia-muzyka opened #1939 "[iOS] The mobile app crashes after an attempt to open the activity with media item type"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: johndoeregress@protonmail.com	// 12345678
3. Create an activity with media item type (e.g. photo)
4. Save the activity
5. Open the activity in the mobile app
6. Pay attention to the screen

**Actual result**
The mobile app crashes after an attempt to open the activity with media item types (photo, video, drawing

[2021-09-08 11:11] natalia-muzyka opened #1940 "Age selector responses aren't displayed on Data tab(mobile app) and DataViz"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: maddison_ml@protonmail.com	 // qwertyuio
3. Create an activity with age selector item
4. Complete the activity in the mobile app
5. Proceed to the user's DataViz / Responses tab
6. Pay attention to the screen

**Actual result**
Age selector responses aren't displayed on Data tab(mobile app) and DataViz

**Expect

[2021-09-09 08:18] natalia-muzyka commented on #1936
Verified as fixed
Video: https://www.screencast.com/t/lMaeVgDV6lV

Environment:
https://admin-staging.mindlogger.org/
ML v0.17.23 (staging)
Samsung Galaxy S7 SM-G930 // Android 8.0
iPhone 12 Pro Max // iOS 14.4
owner: avani_ml@protonmail.com // 12345678
user: maddison_ml@protonmail.com // qwertyuio
applet / activity: subscales / sub within sub
Applet password: Qwe123!!!

[2021-09-09 08:18] #1936 closed

[2021-09-09 09:08] natalia-muzyka opened #1941 "[UI] The tooltip icon design doesn't match the requirements"
**Steps to reproduce**
1. Install and launch the mobile app
2. Log in: maddison_ml@protonmail.com // qwertyuio
3. Proceed to the activity (item) with a tooltip (applet: all item types maddison / activity: multiple)
4. Pay attention to the screen

**Actual result**
The tooltip icon design doesn't match the [requirements](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/i

[2021-09-09 09:25] natalia-muzyka commented on #1932
**Issues:**
[UI] The tooltip icon design doesn't match the requirements [#1941](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/1941)
Website tooltip issues [#133](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-web/133)

[2021-09-09 10:57] WorldImpex opened #1942 "Token Chart Refresh"
As a user, I want to see a new token chart with a better UI so that I am more engaged in earning tokens

Requirements
- Update the icons at the button of the screen when a token activity is within an applet
- Always show the user's total accumulated tokens
- The chart should show tokens as they accumulate
- Allow the user to change the chart by day, week, 2 weeks, 1 month, 3 months, 1 year and all

[2021-09-13 09:05] natalia-muzyka commented on #1939
I'm not able to reproduce this issue on 0.17.24 (staging) and I wasn't able to reproduce it on the 0.17.22 after a few reinstalling the application.
@devbtech could you clarify, please, did you find some additional info in my log file so I can try to reproduce this bug?

[2021-09-13 13:13] natalia-muzyka commented on #1939
As the issue isn't reproducible anymore, the ticket can be closed.

[2021-09-13 13:13] #1939 closed

[2021-09-14 05:46] devbtech commented on #1785
Not ready for Web app yet but other platforms are good to go

[2021-09-14 08:58] natalia-muzyka opened #1945 "The "Share report" button is displayed as regular text on the summary screen"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
avani_ml@protonmail.com	// 12345678
There is a cumulative score activity with allowed ability to see results

**Steps to reproduce**
1. Open a mobile app
2. Proceed to the cumulative score activity
3. Select any responses on each screen (proceed to the cumulative summary screen)
4. Pay attention to the screen

**Actu

[2021-09-14 09:08] natalia-muzyka opened #1946 "The report at the end of the mobile doesn't reflect the new cumulative score fields"
**Preconditions**
The mobile app is installed and launched
The user is logged in to the mobile app and admin panel:
https://admin-staging.mindlogger.org/
avani_ml@protonmail.com // 12345678

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create a new applet with cumulative activity:
- allow the user to see results
- fill the overview, cumulative score description, s

[2021-09-14 09:28] natalia-muzyka opened #1947 "The markdown text isn't completely supported in the report on mobile (but supported in downloaded pdf)"
**Preconditions**
The mobile app is installed and launched
The user is logged in to the mobile app and admin panel:
https://admin-staging.mindlogger.org/
avani_ml@protonmail.com // 12345678
There is a cumulative score activity with allowed ability to see results and markdown text with emojis in the  overview, cumulative score description (applet/activity: pdf export test/cumulative activity (addit

[2021-09-14 09:39] natalia-muzyka opened #1948 "[Android] The mobile app crashes after tapping the "Share report" btn"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
avani_ml@protonmail.com // 12345678
There is a cumulative score activity with allowed ability to see results

**Steps to reproduce**
1. Open a mobile app
2. Proceed to the cumulative score activity
3. Select any responses on each screen (proceed to the cumulative summary screen)
4. Tap the "Share report" btn on the s

[2021-09-14 09:48] natalia-muzyka opened #1949 "The user's score(scale) in the pdf report doesn't depend on the real user's score (progress is always displayed at the same point)"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
avani_ml@protonmail.com // 12345678
There is a cumulative score activity with allowed ability to see results
(applet / activity: pdf export test / cumulative activity)

**Steps to reproduce**
1. Open a mobile app
2. Proceed to the cumulative score activity
3. Select any responses on each screen (proceed to the cumula

[2021-09-14 10:13] WorldImpex commented on #1947
Lets try to make the emojis, marked text, aligned text work. Not as worried about superscript

[2021-09-14 10:35] natalia-muzyka opened #1950 "The admin panel and mobile PDF report issues / differences"
**Preconditions**
The mobile app is installed and launched
The user is logged in to the mobile app and admin panel:
https://admin-staging.mindlogger.org/
avani_ml@protonmail.com // 12345678
There is a cumulative score activity with allowed ability to see results
applet / activity: pdf export test / cumulative activity

**Steps to reproduce**
1. Open a mobile app
2. Proceed to the cumulative score

[2021-09-14 10:42] natalia-muzyka opened #1951 "Shared with email pdf report isn't received"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
avani_ml@protonmail.com // 12345678
There is a cumulative score activity with allowed ability to see results

**Steps to reproduce**
1. Open a mobile app
2. Proceed to the cumulative score activity
3. Select any responses on each screen (proceed to the cumulative summary screen)
4. Share the report by email
5. Procee

[2021-09-14 11:02] natalia-muzyka commented on #1785
@WorldImpex could you help me, please, with the next questions:
**1) The mobile pdf report is displayed as the mobile view after downloading, meanwhile, the admin panel report is displayed in the desktop view.** Is this expected or should be both in the same view(desktop)?
Mobile report (downloaded):
[https://app.zenhub.com/files/103405139/0f3fa898-277e-4bc4-9b90-eb8a2a3fa8c1/download](https://app

[2021-09-14 11:06] WorldImpex commented on #1785
@natalia-muzyka
1. Yes both should be in desktop view
2. Expected

[2021-09-14 11:14] WorldImpex commented on #1950
@natalia-muzyka
2. Yes you are correct
3. Yes your assumptions are true. These mockups were provided to us so I think we need to stay within the requirement for them for now

[2021-09-14 11:42] natalia-muzyka commented on #1950
@WorldImpex thank you, I've already updated a ticket

[2021-09-14 14:56] natalia-muzyka opened #1952 "Incorrect icons/buttons instead of the home, back, close buttons in the mobile app"
**Screens with incorrect icons/buttons:**
Change study
Sign up
Forgot password
What is mindlogger
Change language
User settings
Applet page (activities, data, about tab)

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/614485ea-4229-47c5-81ca-6a95fa8ed7ba)

**Environment:**
ML v0.17.25 (staging)
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0

[2021-09-16 07:40] natalia-muzyka commented on #1941
waiting for a new build with fix

[2021-09-16 07:44] natalia-muzyka commented on #1780
Verified as fixed.
Video: https://www.screencast.com/t/x0umZoBc47r

Environment:
https://admin-staging.mindlogger.org/
Win 10 // Chrome 93.0.4577.82
macOS 11.0 // Safari 14.0.1

[2021-09-16 07:44] #1780 closed

[2021-09-16 10:15] natalia-muzyka commented on #1792
The issue is still reproducible on:
iPad Air 2 Wi-Fi // iOS 14.6
ML v0.17.25 (staging)
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/24925fd6-ba75-4e48-aad6-b61e58147c1a)

[2021-09-16 12:29] natalia-muzyka commented on #1408
The issue is still reproducible
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/4fbf2866-4e54-42c1-b2fa-686ca7899f12)

ML v0.17.25 (staging)
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0

[2021-09-16 14:42] natalia-muzyka commented on #1941
The described in the ticket issues are fixed.

A few more tooltip UI issues:
**1) The left and right margins for the tooltip are missing:**
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/5cf0f5a5-f88f-46b9-88ff-f6033fba8512)
**2) The tooltip's background isn't adaptive to the content:**
if there is an image uploaded, or there is not so much content to display
Video: htt

[2021-09-16 14:55] natalia-muzyka commented on #1947
the emojis, marked text, aligned text verified as fixed:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/cf945d43-184f-455c-879c-bfa29d31c4b0)

Environment:
ML v0.17.26 (staging)
iPhone SE (2020) // iOS 14.2
avani_ml@protonmail.com // 12345678
applet/activity: pdf export test/cumulative activity(additional)(1), cumulative activity(markdown)
Applet password: Qwe123!!!

[2021-09-16 14:59] natalia-muzyka commented on #1947
Waiting for the fix [Android crash](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/1948) to check the Android pdf report.

[2021-09-16 16:32] jj105 commented on #1951
@natalia-muzyka I think it works on @WorldImpex 's physical device
I think there might some configurations needs to be checked/fixed on your mailing app on your phone ( I think you can discuss with @WorldImpex if you need help on that )

[2021-09-17 04:43] mtg137 commented on #1947
I discussed with @WorldImpex - I think we are fine with going without emojis for android 8 for current milestone

[2021-09-17 09:49] natalia-muzyka commented on #1947
Verified as fixed: the required elements are displayed as expected on Android except for the emojis
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/d4c290a9-81df-436b-986d-a947c0632b18)

I'll put this ticket in the backlog

[2021-09-17 10:02] natalia-muzyka commented on #1951
@jj105 thank you, probably you were right about my mailing box.
I've just tested again (on IOS and Android) and it works well now.
I'm able to see previous reports as well (those that are related to this ticket).
So I close the ticket as the issue isn't reproducible anymore.

[2021-09-17 10:02] #1951 closed

[2021-09-17 10:06] natalia-muzyka commented on #1949
@Sshetty2 the issue is reproducible on Android as well:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/30d2efff-0fc7-4aa6-a478-7945f77b985b)

ML v0.17.27 (staging)
Samsung Galaxy S7 SM-G930FD // Android 8.0

[2021-09-17 14:56] natalia-muzyka commented on #1950
@Sshetty2
the webapp report looks the same as on mobile app 9mobile view instead of the desktop view)
Video: https://www.screencast.com/t/D4ZsNb0SG

[2021-09-17 15:41] natalia-muzyka commented on #1949
Reproducible for webapp pdf report as well:
Video: https://www.screencast.com/t/LZYelX0s

Win 10 // Chrome 93.0.4577.82
applet / activity: pdf export test / cumulative activity
avani_ml@protonmail.com // 12345678
Applet password: Qwe123!!!

[2021-09-17 15:46] natalia-muzyka commented on #1946
@Sshetty2
Reproducible for webapp pdf report as well:
The new fields aren't displayed in the webapp report (summary page).

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/c91867f7-727b-4d5e-9cef-8812ad9f0c22)

Win 10 // Chrome 93.0.4577.82
applet / activity: pdf export test / cumulative activity
avani_ml@protonmail.com // 12345678
Applet password: Qwe123!!!

[2021-09-18 16:41] Sshetty2 commented on #1785
https://github.com/ChildMindInstitute/mindlogger-app/pull/1956
https://github.com/ChildMindInstitute/mindlogger-web/pull/155
https://github.com/ChildMindInstitute/mindlogger-admin/pull/1255

[2021-09-20 08:24] natalia-muzyka commented on #1950
There are few new issues:

**1) [admin panel] The Overview and Cumulative score title description are missing admin panel pdf report:**
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/a4f788d4-9db2-495a-b141-1c893c44084f)

**2) [mobile][webapp] The "Your/Your Child's Score" title is trimmed when the user's progress is nearly on the edge case.
[admin panel]  The "Your/You

[2021-09-20 09:59] #1949 closed

[2021-09-20 09:59] natalia-muzyka commented on #1949
Verified as fixed:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/f3ecb7c4-ab59-4521-8683-973b887c1fa6)
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/7071663c-d010-450d-bd51-d0cff8197a9e)

Win 10 // Chrome 93.0.4577.82
applet / activity: pdf export test / cumulative activity
avani_ml@protonmail.com // 12345678
Applet password: Qwe123!!!

[2021-09-20 10:02] natalia-muzyka commented on #1946
the behavior is the same.
was it accepted as a correct behavior?
@WorldImpex @Sshetty2
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/37108c7b-a358-454a-824f-07a2c573b2f0)

[2021-09-20 10:29] WorldImpex commented on #1946
@natalia-muzyka Summary screen should be shown on webapp as well

[2021-09-20 10:49] natalia-muzyka commented on #1941
@jj105 the behavior is the same, video: https://www.screencast.com/t/UGcWpWYnIsNu

@devbtech could you check, please, if there where any merge conflicts?

[2021-09-21 12:57] natalia-muzyka commented on #1952
Verified as fixed.

Video(iOS): https://www.screencast.com/t/fpqnWZo7a
Video(Android): https://www.screencast.com/t/95k2hVj0pI

Environment:
ML v0.17.30 (staging)
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0

[2021-09-21 12:57] #1952 closed

[2021-09-21 14:31] natalia-muzyka commented on #1950
#1, 2, 4, and 5 from the comment above are fixed

**Still reproducible:**
**3) [UI][admin panel report] The "Your/Your Child's Score" title is displayed in a few rows and overlaps the progress bar**
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/2ef6d9f6-ffea-47d7-b9d7-0ce2f2f23010)

**6) [UI][webapp report] The font styles issues in the pdf report
-the conditional (IF

[2021-09-21 14:45] natalia-muzyka commented on #1947
@mtg137 @WorldImpex
on the Summary screen **the marked text and emojis** aren't displayed on both platforms (iOS and Android):
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/5fe6de2d-d49a-4446-b458-ddecd0579e87)

ML v0.17.30 (staging)
Samsung Galaxy S7 SM-G930FD // Android 8.0
iPhone SE (2020) // iOS 14.2

[2021-09-21 15:00] natalia-muzyka commented on #1946
The summary screen reflects the new fields with some issues.
Mobile markdown issues I added here in the related [ticket](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/1947).

**1) [webapp summary page] The score and cumulative item description are displayed in the wrong order**
Expected: the description should go first, as on

[2021-09-21 15:14] natalia-muzyka commented on #1945
Verified as fixed on:
ML v0.17.30 (staging)
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/c99293c9-a8fc-45ac-b453-5827628b6ea6)

[2021-09-21 15:14] #1945 closed

[2021-09-21 16:20] WorldImpex commented on #1946
This is the right summary view - current view with only adding the new fields (overview, items descriptions, but without progress bars)

[2021-09-21 16:57] WorldImpex commented on #1950
@Sshetty2  Just so it is clear, the intention for the summary on web and mobile is everything but the progress bars "This is the right summary view - current view with only adding the new fields (overview, items descriptions, but without progress bars)"

[2021-09-22 07:57] natalia-muzyka commented on #1941
#1 is fixed:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/861c878c-e124-4422-bddc-f0fad1681ae8)

@jj105 #2 is still reproducible:
video: https://www.screencast.com/t/1iMocdAS
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/087298cb-ff70-4952-9a63-b2e24825e594)

[2021-09-22 12:01] natalia-muzyka opened #1964 "[UI/UX] PDF report issues"
**1) [webapp report][admin panel report] The uploaded image (1920x1920 px jpg) is missing in the report**
https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/4fc27300-7ac7-4a19-884a-035cc2665549

**2) [mobile report] The uploaded image (1920x1920 px jpg) is trimmed on the right**
https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/b8d668b3-242d-4342-bbfa-fef4f5163358

**Environ

[2021-09-22 12:05] natalia-muzyka commented on #1950
moved #7 and 8 to the new ticket [#1964](https://github.com/ChildMindInstitute/mindlogger-app/issues/1964)

[2021-09-22 13:46] natalia-muzyka commented on #1950
#3:  [UI][admin panel report] The "Your/Your Child's Score" title is displayed in one row, but it is left-trimmed when the score is small:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/64c997ba-830c-4b1e-82b8-a910ac00a68c)

#6 fixed:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/71f0c025-ab16-434c-a598-39c0c191a20e)

[2021-09-22 14:38] natalia-muzyka commented on #1946
The cumulative fields on webapp are still displayed in the same order:
1) cumulative score title,
2) user's score,
3) cumulative score description,
4) message (at or above, etc)

On the mobile app and in the applet builder the cumulative score description goes before the user's score.
@WorldImpex We can leave this displaying as acceptable (we have no requirements for that, I was only comparing wit

[2021-09-22 14:43] WorldImpex commented on #1946
Yes lets fix in next milestone so the reports are the same @natalia-muzyka

[2021-09-22 14:53] WorldImpex commented on #1950
@Sshetty2 Please fix 3 & 6 with priority

[2021-09-22 15:13] natalia-muzyka commented on #1946
Created a separate ticket for the ordering:
https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-web/161

Verified and closed.

[2021-09-22 15:13] #1946 closed

[2021-09-23 12:27] natalia-muzyka commented on #1860
still reproducible on:
ML v0.17.32 (staging)
Samsung Galaxy S7 Edge SM-G935FD // Android 8.0

[2021-09-24 08:26] WorldImpex commented on #1929
Button was updated to Build/ Edit an applet - CRÉER/MODIFIER UNE APPLET

[2021-09-24 10:36] natalia-muzyka opened #1968 "[iOS] The time picker/camera isn't closed automatically after time is up"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
loui_ml@protonmail.com // 12345678
There is an activity with a date, time range, photo, video.
A timer (at least 5 seconds) is set to these items.

**Steps to reproduce**
1. Open the activity in the mobile app (applet timer test: activity 3)
2. Proceed to the photo item
3. Open a camera
4. Wait when the time is up
5.

[2021-09-24 11:11] natalia-muzyka opened #1969 "The android device sends multiple responses for media items with a timer (responses are duplicated in the CSV report)"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
johndoeregress@protonmail.com	// 12345678
The mobile app is installed and launched
The user is logged in

**Steps to reproduce**
1. Create a new applet / activity with the next item types and set a timer for each item:
audio record, drawing, photo, video, time range, date, geolocation
2. Complete the a

[2021-09-24 14:24] natalia-muzyka opened #1971 "The timer is restarted after resuming the activity"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
loui_ml@protonmail.com // 12345678
There is an activity with the drawing item. (applet: timer test, activity 3)
The "Set timer response" is activated on the item (e.g. 15 seconds).

**Steps to reproduce**
1. Open the activity in the mobile app
2. Proceed to the drawing item
3. Draw something
4. Close the activity whi

[2021-09-27 08:16] lioneldeveauxcri opened #1974 "Incorrect punctuation spacing in the French version"
French punctuation rules are not correctly followed in the French version of the app.
In French, the following punctuation marks:
:
;
?
!
should always be preceded by a space, preferably a non-breaking space.
Example: in the "about" page, "Qu'est-ce que Mindlogger?" should be "Qu'est-ce que Mindlogger ?"

[2021-09-27 08:44] lioneldeveauxcri opened #1975 "French version: wrong text when taking a photo or video"
The pop-up that appears when you have to choose between using the camera and choosing a video/photo from the device is wrong:
"veuillez saisir du texte" -> "choisir dans la bibliothèque"

[2021-09-27 08:47] lioneldeveauxcri opened #1976 ""Location saved" message when using an applet twice the same day"
If I answer an applet containing a geolocation item twice the same day: the second time, the message "location saved" is already there before I tap the button

[2021-09-27 13:45] lioneldeveauxcri opened #1977 "The watermark interferes with the questions' images"
If there is a watermark associated with an applet
and
If a question has a header image
then
The watermark prevents the image from displaying.

[2021-09-27 13:50] lioneldeveauxcri opened #1978 "UI display too high on iPhones with a notch"
On Apple devices with a notch (for example iPhone X), the top UI is barely visible since it displays "behind" the notch.

[2021-09-27 13:57] lioneldeveauxcri opened #1979 "Take a picture or a video + optional text item: textbox badly displayed"
See attached screencap
The user can't see the textbox entirely.
Device:
Xiaomi mi 9T pro
Android 10 QKQ1.190825.002
<img width="235" alt="photo+texte" src="https://user-images.githubusercontent.com/55746438/134922989-20dce1be-067d-4c6f-8b73-2549c45a144d.png">

[2021-09-28 07:40] natalia-muzyka commented on #1950
Verified as fixed:

#3 [UI][admin panel report] The "Your/Your Child's Score" title
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/7f626b82-01a0-44da-8403-dd424b17c400)

#6 [webapp report] the cumulative activity title
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/6dbe8fe1-d955-453d-8788-085b3f3af88a)

[2021-09-28 07:40] #1950 closed

[2021-09-28 08:21] natalia-muzyka opened #1982 "Delays in the drawing process"
**Steps to reproduce**
1. Install and launch the app
2. Log in: janedoeregress@protonmail.com	// %pVgPJ*O
3. Proceed to the activity with a draw item
4. Start drawing
5. Pay attention to the screen

**Actual result**
There are delays in the drawing.

**Expected result**
There are no delays, the drawing process is smooth.

**Video:** https://www.screencast.com/t/kmfmyYXE0BeM

**Environment:**
ML v0

[2021-09-28 09:09] natalia-muzyka commented on #1969
The issue is reproducible now for both platforms for all the items:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/b5f64850-5009-4521-8d4c-5cebf54290da)
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/4f31d39f-d86b-4efa-8643-9118c53fec75)

Environment:
https://admin-staging.mindlogger.org/
owner: alyssia_ml@protonmail.com // qwertyuio
users:
m

[2021-09-28 09:44] natalia-muzyka opened #1983 "The text input field is overlapped by the keyboard after tapping on the field"
**Preconditions**
The user is logged in on the admin panel and mobile app
https://admin-staging.mindlogger.org/
alyssia_ml@protonmail.com	// qwertyuio

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with drawing item:
- select(allow) the "Move navigation buttons to top of screen"
- allow the "Text input option"
3. Refresh the mobile app and procee

[2021-09-28 09:51] natalia-muzyka commented on #1932
Verified and closed.

[2021-09-28 09:51] #1932 closed

[2021-09-28 10:33] natalia-muzyka opened #1984 "The "close" button is missing on the activity screen"
**Steps to reproduce**
1. Install and launch the app
2. Log in: alyssia_ml@protonmail.com // qwertyuio
3. Start any activity
4. Pay attention to the screen
5. Select any responses, move to the next screen
6. Observe the result

**Actual result**
The "close" button is missing on the activity screen. The "close" button appears only when the user is moving between activity screens.

**Expected result

[2021-09-28 10:44] WorldImpex commented on #1979
@natalia-muzyka Could you check to see if this is device specific?

[2021-09-28 11:33] natalia-muzyka commented on #1979
it is reproducible on Samsung A31,
here is an old [bug report] (https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/1840) with the same issue

[2021-09-28 11:50] lioneldeveauxcri commented on #1978
<img width="361" alt="apple notch" src="https://user-images.githubusercontent.com/55746438/135081065-99d57bc2-0817-469d-94b2-37ec215c1af7.png">
I added an example where you can see that the home button overlaps with the clock, and therefore everything at the same height or higher than the roof of the house icon will be too high.

[2021-09-28 12:21] lioneldeveauxcri commented on #1979
I don't understand why this was closed
The old bug report is said to be fixed two months ago when my screen capture was done yesterday.
Am I missing something? Is the bugfix yet to be deployed in production?

[2021-09-28 12:24] WorldImpex commented on #1979
@lioneldeveauxcri Sorry my comment did not stick when I closed this but we have already determined this is a physical screen size issue with devices that are not within the scope of what we support so that is why this is being closed.

[2021-09-28 14:40] lioneldeveauxcri commented on #1978
(sorry about the bad quality BTW, but this bug cannot appear on a real screenshot of course)

[2021-09-28 15:37] natalia-muzyka commented on #1505
**The issue is reproducible again on PROD.**
Video: https://www.screencast.com/t/Sn8AxhjBud

Environment:
ML Pilot v0.17.32
ML v0.17.32
iPhone SE (2020) // iOS 14.2
iPhone 6 Plus // iOS 12.4.8

[2021-09-28 18:33] WorldImpex opened #1985 "Update Splash Screen button from Skip to "next""
![File.jpg](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/58641a1d-98ba-42bd-8a15-35abfdf7c6d1)

[2021-09-29 10:43] Matchdev120 commented on #1985
@Wil @natalia-muzyka Do you have an applet with splash screen?

[2021-09-29 10:56] natalia-muzyka commented on #1985
@Matchdev120
geria2.test@gmail.com // McgzF127
applet: All (1)
Applet password: Qwe123!!!
activities:
header image (URL gif)
header image (1) (uploaded mp4)

[2021-09-29 14:17] natalia-muzyka commented on #1505
Notifications still don't work:
Video: https://www.screencast.com/t/vjWBp9smqz2

Environment:
ML Pilot v0.17.32
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0
owner: loui_ml@protonmail.com // 12345678
user: alyssia_ml@protonmail.com // qwertyuio
applets: NIMH, simple item types
applets password: Qwe123!!!

[2021-09-29 18:55] Matchdev120 commented on #1985
Thank you!

[2021-09-30 04:32] jj105 commented on #1964
I had a discussion with @WorldImpex, I think we are fine to go with images uploaded from pc and github images for now, and we don't need to export audio/videos for now

[2021-09-30 07:16] natalia-muzyka commented on #1505
Verified as fixed.
Video: https://www.screencast.com/t/LSI1BKIz2

Environment:
ML Pilot v0.17.32
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0
owner: loui_ml@protonmail.com // 12345678
user: alyssia_ml@protonmail.com // qwertyuio
applets: NIMH, simple item types
applets password: Qwe123!!!

[2021-09-30 14:10] natalia-muzyka commented on #1655
Still reproducible on ML Pilot v0.17.32
iPhone SE (2020) // iOS 14.2
iPhone 6 Plus // iOS 12.4.8
Samsung Galaxy S7 SM-G930FD // Android 8.0

[2021-09-30 15:35] natalia-muzyka commented on #1969
Verified as fixed.
Video: https://www.screencast.com/t/HlL08aX6oo

Environment:
https://admin-staging.mindlogger.org/
owner: alyssia_ml@protonmail.com // qwertyuio
users:
maddison_ml@protonmail.com // qwertyuio
janedoeregress@protonmail.com // %pVgPJ*O
ML v0.17.38 (staging)
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0

[2021-09-30 15:35] #1969 closed

[2021-10-01 07:43] natalia-muzyka commented on #1929
Verified as fixed
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/1a835c1d-73b9-4ebe-9524-63de3433e00e)

Environment:
https://admin-staging.mindlogger.org/
Windows 10 x64 // Chrome 94.0.4606.61

[2021-10-01 07:43] #1929 closed

[2021-10-01 09:42] natalia-muzyka commented on #1982
Delays started to be reproducible on Android on ML 0.17.39 (staging).
Video: https://www.screencast.com/t/vfIqYhLYdiU

[2021-10-01 11:01] natalia-muzyka opened #1990 "The drawing, video, audio stimulus screens have the "back" button in the mobile app after the "remove back button" option was allowed in the applet builder"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: alyssia_ml@protonmail.com // qwertyuio
3. Create a new applet/activity
4. Add the drawing item and allow the "remove back button"
5. Add the drawing item, allow the "move navigation buttons to top" and "remove back button"
6. Add the video item and allow the "remove back button"
7. Add the audio stimulus item an

[2021-10-01 11:50] natalia-muzyka commented on #1984
Verified as fixed.
Video: https://www.screencast.com/t/t4evGTaj

Environment:
ML v0.17.39 (staging)
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0

[2021-10-01 11:50] #1984 closed

[2021-10-01 12:23] natalia-muzyka commented on #1985
Verified as fixed.
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/c4e87a1b-425a-4088-b3db-a89b20dd5c4d)

Environment:
ML v0.17.39 (staging)
geria2.test@gmail.com // McgzF127
applet: All (1)
Applet password: Qwe123!!!
activities:
header image (URL gif)
header image (1) (uploaded mp4)

[2021-10-01 12:23] #1985 closed

[2021-10-01 12:30] natalia-muzyka commented on #1983
Verified as fixed.
Video: https://www.screencast.com/t/YIdtFSiCz3J

Environment
ML v0.17.39 (staging)
iPhone SE (2020) // iOS 14.2 // 750 x 1334 pixels, 16:9 ratio

[2021-10-01 12:30] #1983 closed

[2021-10-01 12:51] natalia-muzyka opened #1991 "Draw item on mobile doesn't recognize taps"
**Preconditions**
The mobile app is installed and launched.
The user is logged in:
alyssia_ml@protonmail.com	// qwertyuio
There is an activity with the drawing item (Draw- move footer to top)

**Steps to reproduce**
1. Open the app
2. Proceed to the activity with the drawing item
3. Tap on canvas (draw a dot) on the drawing screen
4. Observe the result

**Actual result**
Draw item on mobile doesn'

[2021-10-01 13:34] anirudh4792 commented on #1979
@WorldImpex We are not sure we get you (which devices are within the scope?). This bug appears on five different phones. Here is the invite: web.mindlogger.org/join/8365012e-f9d3-4e6b (screen 3 on the app). I think the issue still persists. Thanks.

[2021-10-01 13:40] natalia-muzyka opened #1992 "The "undo" button is displayed on the drawing screen in the mobile app after the "remove undo button" option was allowed in the applet builder"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: alyssia_ml@protonmail.com // qwertyuio
3. Create a new applet/activity
4. Add the drawing item and allow the "remove undo button"
5. Add the drawing item, allow the "move navigation buttons to top", and "remove undo button"
6. Save the applet
7. Proceed to the drawing activity
8. Draw something and pay attention

[2021-10-01 13:49] WorldImpex commented on #1979
@anirudh4792 Which 5 devices does this happen on? We know of two devices this happens on and it is due to the size of the screen. It is a device-specific issue because of the size of the screen. If the device had a different size screen then this would not happen. Thus why on an iPhone this issue is not reproducible. Below is the list of devices we test against

iPhone 12 Pro Max // iOS 14.4
Samsu

[2021-10-01 14:15] natalia-muzyka commented on #1964
@jj105 this issue relates to the uploaded image.
The uploaded from PC image is missing in the report that is downloaded from webapp or admin panel.

[2021-10-02 01:12] Sshetty2 commented on #1979
On Fri, Oct 1, 2021 at 9:49 AM WorldImpex ***@***.***> wrote:

--
-Sent from IPhone-

[2021-10-04 14:08] WorldImpex opened #1996 "[PROD] User Account Does not see Applet"
ML Version - 0.17.32
iPhone SE (software version 14.7.1)
EDUCATE EMA

Wil has user's information

[2021-10-04 14:32] natalia-muzyka opened #1997 "The selected age value is cleared after entering data in the text field"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an applet/activity with the age selector item: allow the text input option
3. Save the applet
4. Proceed to the activity on the mobile app
5. Select any age value
6. Enter any text (confirm the input)
7. Pay attention to the screen
8. Select any age value again and complete the activity
9. Proceed to the user's d

[2021-10-04 14:50] natalia-muzyka opened #1998 "[Prod][Staging] The date response in the CSV report isn't equal to the selected in the mobile app(months are numbered from 0 to 11)"
**Preconditions**
The user is logged in on the admin panel and mobile app.
alyssia_ml@protonmail.com	// qwertyuio
There is an activity with a date item on the account (applet: date check)

**Steps to reproduce**
1. Open the mobile app
2. Complete the activity (select any date values)
3. Proceed to the user's dataviz and export the user's data
4. Compare the selected response and date response in t

[2021-10-05 08:13] #1996 closed

[2021-10-05 08:18] WorldImpex opened #2000 "Upload image for About Page in TokenLogger"
- Upload an image to the about us page that fills the page
   - Give an editor the ability to either configure an about screen with text or with a full page image
    - Display the size the user should upload
    - Allow the user to replace and delete
    - Editor cannot use text and image upload at the same time
![mindlogger-admin.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475

[2021-10-05 09:33] natalia-muzyka commented on #1997
@WorldImpex I updated a ticket, the text isn't reflected also in the CSV report (you can see this on video).
Reproducible with ML v0.17.40 as well. Shouldn't this be fixed?

[2021-10-05 10:10] natalia-muzyka commented on #1971
@mtg137 @WorldImpex could you confirm, please, are my expectations correct in the next case?

**Case:**
The app goes to the background after the timer is started.

**Actual behavior (on iOS and Android):**
When time is up the new screen is automatically triggered (in the background).
If the new screen has a timer as well, it starts working (still in the background).

**Expected behavior:**
When ti

[2021-10-05 10:31] WorldImpex commented on #1997
Yes it should

[2021-10-05 10:32] WorldImpex commented on #1971
@natalia-muzyka No the timer should continue to run in background mode

[2021-10-05 13:42] natalia-muzyka opened #2001 "Stacked items are broken on the mobile app"
**Steps to reproduce**
1. Open a site: https://admin-staging.mindlogger.org/
2. Log in: loui_ml@protonmail.com // 12345678
3. Create an applet/activity with stacked items: radio, checkbox, slider
4. Save the applet.
5. Proceed to the activity in the mobile app.
6. Pay attention to the screen.

**Actual result**
Stacked items are broken on the mobile app.
Stacked radio, checkbox: The items aren't d

[2021-10-05 13:56] natalia-muzyka commented on #1990
Drawing, audio stimulus, geolocation, age selector:
The "Remove ability to go back to the previous item" option is displayed unselected after allowing the option, saving the activity, and proceeding to the applet builder (edit) page. Though the "Back" button is removed on the mobile app for these items (except the drawing item with top navigation).
Video: https://www.screencast.com/t/xPigVR7ih3

a

[2021-10-05 15:06] natalia-muzyka opened #2003 "The drawing item with the allowed "Remove undo button" and "Move navigation to top of screen" causes a crash after tapping on the activity"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: alyssia_ml@protonmail.com // qwertyuio
3. Create an applet/activity with the drawing item
4. Allow the "Remove undo button" option
5. Allow the "Move navigation to top of screen" option
6. Save the applet
7. Start activity in the mobile app
8. Observe the result

**Actual result**
The drawing item with the allow

[2021-10-05 15:09] natalia-muzyka commented on #1992
Verified as fixed for the bottom navigation "Undo" button.
Retesting is partially blocked by https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/2003

[2021-10-05 15:24] natalia-muzyka commented on #1941
#2 Verified as fixed on both platforms.
Screenshot:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/379ddf13-b722-466d-88be-da3a97223a09)
Video: https://www.screencast.com/t/BaDeQUI8wC95

Environment
ML v0.17.40 (staging)
iPhone SE // iOS 14.2
iPhone 6 Plus // iOS 12.5.4
Samsung S7 // Android 8.0
geria2.test@gmail.com // McgzF127
applet: webapp test (1)
activity: checkbo

[2021-10-05 15:24] #1941 closed

[2021-10-05 16:17] WorldImpex commented on #1781
@devbtech We will need to create our own s3 bucket for this

[2021-10-05 18:11] mtg137 commented on #1971
I discussed with @WorldImpex about this previously

1) let's say that I have an activity with 3 screens, and all screen has 10 secs time limit
I started activity mobile app and closed screen.
if I reopen activity 30 secs later, I should see a "thank you" page

2) if user taps "back" button and proceeding again to the same screen then timer should be restarted

[2021-10-06 01:37] Matchdev120 commented on #1990
@natalia-muzyka This issue happens as the new version of applet-builder is not deployed yet.
Please test this again after that. (cc @devbtech )

[2021-10-06 07:31] natalia-muzyka commented on #1971
Ok, thank you both for clarification!
In this case, the issue is verified as fixed.

Environment:
ML v0.17.40 (staging)
iPhone SE (2020) // iOS 14.2
Samsung Galaxy S7 SM-G930FD // Android 8.0
owner:
johndoeregress@protonmail.com // 12345678
users:
loui_ml@protonmail.com // 12345678
alyssia_ml@protonmail.com // qwertyuio
applet timer test: activity 3
Applet password: Qwe123!!!

[2021-10-06 07:31] #1971 closed

[2021-10-06 09:58] natalia-muzyka commented on #1991
@Matchdev120

**Devices that don't recognize taps(don't display and export) though the "Undo" button is shown up after tapping:**
Pixel 2 // Android 11
Pixel 3 XL // Android 10 - https://www.screencast.com/t/A4Qj9JGfwcI
Samsung Galaxy Tab S6 SM-T865 // Android 9.0 - https://www.screencast.com/t/xpAOtu0K76r
iPhone 6s // iOS 14.4 - https://www.screencast.com/t/kzcwybID9k
iPhone 8 Plus  // iOS 14.3 -

[2021-10-06 15:15] natalia-muzyka opened #2005 "The "Next" button is displayed instead of the "Skip" button on the skippable items"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: johndoeregress@protonmail.com // 12345678
3. Create an activity with skippable items (e.g. radio, checkbox, slider with the "Skippable item" option allowed)
4. Save the activity
5. Start activity in the mobile app
6. Pay attention to the screen

**Actual result**
The "Next" button is displayed on the activity sc

[2021-10-07 08:17] natalia-muzyka commented on #1990
@Matchdev120 @devbtech
I'm still experiencing the same issue in the applet builder:
1) Drawing, audio stimulus, geolocation, age selector:
The "Remove ability to go back to the previous item" option is displayed unselected after allowing the option, saving the activity, and proceeding to the applet builder (edit) page. Though the "Back" button is removed on the mobile app for these items (except t

[2021-10-07 11:07] natalia-muzyka opened #2007 "The entered text in the text input field isn't accepted by tapping the keyboard return key"
**Preconditions**
The mobile app is installed and launched.
The user is logged in: alyssia_ml@protonmail.com // qwertyuio
There is an activity with text item: applet "multiple item types" / activity "text input"

**Steps to reproduce**
1. Start the activity on the mobile app
2. Enter any text
3. Tap the keyboard return key
4. Tap outside the keyboard.
5. Observe the result.

**Actual result**
The

[2021-10-08 09:48] #1992 closed

[2021-10-08 09:55] natalia-muzyka commented on #1785
All the issues are fixed except the "The markdown text isn't completely supported in the report on mobile" #1947 (moved to backlog). Verified and closed.

[2021-10-08 09:55] #1785 closed

[2021-10-08 13:22] natalia-muzyka commented on #1792
@binaryExDev on the later models the time / date picker is shifted to the left as well:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/f9044be2-7ea9-453c-88e7-d3d237408002)

[2021-10-11 01:49] Matchdev120 commented on #1990
@devbtech Would you publish the latest version of applet-builder?

[2021-10-11 08:16] natalia-muzyka commented on #1990
@Matchdev120 @devbtech
Issues from my comment above are still reproducible:
https://www.screencast.com/t/E2Y6cRO4w1aR
account: alyssia_ml@protonmail.com // qwertyuio
applet: back button selection test

[2021-10-12 10:58] natalia-muzyka opened #2015 "[UI] Timer overlaps the prompt on the activity screen"
**Preconditions**
The mobile app is installed and launched.
The user is logged in on the admin panel and mobile app:
https://admin-staging.mindlogger.org/
loui_ml@protonmail.com // 12345678

**Steps to reproduce**
1. Create an activity with a drawing item:
- allow move navigation buttons to top,
- enter any text (prompt),
- allow set response timer
2. Save an applet
3. Refresh the mobile app and s

[2021-10-12 12:49] WorldImpex opened #2016 "No scheduled Activities - Do not show "Unscheduled""
As a user, I want to see simply activities if there is no schedule so that I do not get confused when I see unscheduled

Requirements
- Remove "Unscheduled" text when there are no activities that are schedule that day
- The line would remain to keep the date and the activity section separate on mobile
- This fix is for webapp and mobile

[2021-10-12 14:20] WorldImpex commented on #1775
1. The data output does not appear to match the specs in the Trails A/B document. It looks like we just get a generic start and stop time for the task. But these data might be hidden in the "value: [object Object]" cell of the CSV export, maybe? We need the full x,y,t with annotations for error for each sampled point; you had already implemented this type of reporting a while back in the drawing c

[2021-10-12 14:51] natalia-muzyka opened #2017 "Cumulative activity is hidden if user achieves the percentage negative score though the cumulative activity should stay until user achieves the desired score"
**Steps to reproduce**
1. Open a site
2. Create a new applet
3. Add at least one activity with one item (any item)
4. Add cumulative activity with:
- negative cumulative scores (checkbox item),
- output type percentage correct,
- options at or above,
- 0 score,
- activate toggler "show activity if the user's score at or above is 0" and select the previously created activity
5. Save the applet
6. P

[2021-10-13 11:22] natalia-muzyka opened #2018 "Mobile app crashes on the activity screen if time is up while user was continuing entering text"
**Preconditions**
The mobile app is launched and installed.
The user is logged in on the admin panel and mobile app.
josephine_ml@protonmail.com // qwertyui
There is an activity with radio and checkbox item types that include response timer and text option.

**Steps to reproduce**
1. Open a mobile app
2. Proceed to the activity:
applet all item types / activity simple types
3. Start an activity
4.

[2021-10-13 15:41] natalia-muzyka opened #2021 "The achieved activity is displayed after logging in to the different account (if account has the same applet)"
**Preconditions**
The user is logged in on the admin panel
https://admin.mindlogger.org/
https://web.mindlogger.org/
loui_ml@protonmail.com // 12345678

**Steps to reproduce**
1. Open a site https://admin.mindlogger.org/
2. Create an applet:
-create at least one activity with one(e.g. radio) item
-create another activity with the cumulative item (set up show activity1 if user met the threshold)
3.

[2021-10-15 10:10] natalia-muzyka opened #2024 "The show/hide option doesn't work on mobile app (on activity, item, response option level)"
**Preconditions**
The mobile app is installed and launched.
The user is logged in: loui_ml@protonmail.com // 12345678

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: loui_ml@protonmail.com	12345678
3. Create an applet with:
- one hidden activity
- one activity with hidden item
- one item with one hidden response option
4. Save the applet
5. Proceed to the ap

[2021-10-15 11:04] natalia-muzyka opened #2025 "The timer icon is disappeared and the next activity screen isn't automatically opened when the time is up"
**Preconditions**
The mobile app is installed and launched.

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: loui_ml@protonmail.com // 12345678
3. Create a new activity with a few items (e.g. radio, checkbox, slider).
Set timer 10 seconds for each.
4. Save the applet
5. Proceed to the activity on the mobile app
6. Start an activity, wait when time is up
7. Pa

[2021-10-15 14:37] natalia-muzyka commented on #2024
@mtg137
I was testing the wrong build version,
on 0.17.47 (staging) the issue isn't reproducible.
video: https://www.screencast.com/t/CHXmQD9D

[2021-10-15 14:37] #2024 closed

[2021-10-18 13:03] natalia-muzyka opened #2027 "[Samsung S7 / Android 8] Infinity loader after refreshing the main screen"
**Preconditions**
The user is logged in on the admin panel and mobile app
alyssia_ml@protonmail.com	// qwertyuio

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Open the mobile app
3. Make changes on the admin panel: edit any applet or set scheduling
4. Save changes
5. Refresh the main screen on the mobile app
6. Pay attention to the screen

**Actual result**
Infini

[2021-10-18 13:58] WorldImpex opened #2028 "[PROD] Markdown + Text Entry Screen Causes Crash"
Steps to recreate
1. Create an activity with the first screen a markdown message and the second screen a text entry, requiring a numerical response
2. Test applet on mobile
3. See Results

Expected: User opens the activity and both items are actionable
Actual: User tries to open the activity but experiences a crash

MindLogger Pilot v0.17.57
iPhone 6s

[2021-10-18 14:56] natalia-muzyka opened #2029 "Mobile app crashes after an attempt to open the activity with stacked items (stacked slider)"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: josephine_ml@protonmail.com // qwertyui
3. Create an activity with stacked items: radio, checkbox, slider
4. Save the applet
5. Start this activity on the mobile app
6. Pay attention to the screen

**Actual result**
Mobile app crashes after an attempt to open the activity with stacked items

**Expected result**

[2021-10-18 15:23] WorldImpex opened #2030 "Update Tooltip for Stacked Items to be a Hyperlink"
Remove the asterisk and replace with the text being hyperlinked

 ![Tooltip (1) (1).png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/62a876fb-f1f3-4f90-9c42-2ba94cfa7588)

[2021-10-18 15:29] WorldImpex opened #2031 "Image above a draw canvas is cut off"
Steps to recreate
1. Create a new applet with this image above the draw canvas
[rey_figure.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/7263af66-8975-4d90-8904-066529da0bdb)
2. Check it on the device
![image.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/4abaa230-2f1a-4e97-8528-53ac12e51bc2)!
3. See results

Expected: the image fits within the box
Actual:

[2021-10-18 16:20] natalia-muzyka opened #2032 "[UI] The dropdown list interferes the text and image (age selector values arent visible enough because of transparent background)"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Log in: josephine_ml@protonmail.com	qwertyui
3. Create the age selector item: upload header image and specify the large text (text creator)
4. Save the applet
5. Proceed to the activity on the mobile app
6. Without scrolling the screen tap on the age selector
7. Pay attention to the screen

**Actual result**
The dropdow

[2021-10-19 07:32] natalia-muzyka commented on #2015
After the latest changes timer is displayed on the left side, symmetrically to the "Close" button.
If there is a watermark uploaded to the activity, then this watermark interferes with the timer.
@WorldImpex Suggestion: to leave the first implementation of positioning (let it be displayed over the elements) but add more transparency. Wdyt?

[2021-10-19 07:43] natalia-muzyka commented on #2018
Verified as fixed.
Video: https://www.screencast.com/t/UfdoyemxNo

Environment
ML v0.17.51 (staging)
Samsung S7 Edge // Android 8.0
iPhone SE (2020) // iOS 14.2
josephine_ml@protonmail.com // qwertyui
applet all item types / activity simple types
Applet password: Qwe123!!!

[2021-10-19 07:43] #2018 closed, assigned to mtg137

[2021-10-19 09:06] natalia-muzyka opened #2033 "[UI] Timer stucks while user is entering a text or selecting a response"
**Preconditions**
The mobile app is installed and launched.
The user is logged in:
alyssia_ml@protonmail.com	// qwertyuio
There is an activity with radio item: set response timer and text input are allowed.
(applet: all item types; activity: simple types)

**Steps to reproduce**
1. Open the mobile app
2. Proceed to the activity (applet: all item types; activity: simple types)
3. Start entering any

[2021-10-19 09:30] natalia-muzyka commented on #1442
Notifications aren't fired on **ML v0.17.51 (staging)**
Video: https://www.screencast.com/t/hTqtz5CCgiZ

Environment:
Samsung Galaxy S7 SM-G930 // Android 8.0
iPhone SE (2020) // iOS 14.2
owner:
josephine_ml@protonmail.com // qwertyui
applets: DBT
Applet password: Qwe123!!!

[2021-10-19 10:17] natalia-muzyka opened #2034 "[Samsung S7 // Android 8.0] The user is logged out and language isn't changed after an attempt to change language"
**Preconditions**
The mobile app is installed and launched
The user is logged in to **account with a lot of applets**
alyssia_ml@protonmail.com	// qwertyuio

**Steps to reproduce**
1. Tap the Profile button
2. Tap the Change language
3. Tap the French
4. Pay attention to the screen

**Actual result**
The user is logged out and the language isn't changed after an attempt to change the language

**E

[2021-10-20 10:21] natalia-muzyka opened #2039 "White screen after tapping the push notification"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2 Log in: kimberly_ml@protonmail.com	12345678
3. Schedule any event:
- always available
- notification start time current time+a few minutes
4. Save the schedule
5. Refresh the mobile app and wait for notification
6. Tap the notification and pay attention to the screen

**Actual result**
White screen after tapping the push

[2021-10-20 10:30] WorldImpex opened #2040 "Add Splash Screen to PDF Export"
The Splash screen that is shown on mobile, should be added to the PDF export on webapp and mobile.

It should take up the full first page of the PDF

[2021-10-20 10:37] WorldImpex opened #2041 "Replace You/ Your with Your"
Update text to read Your child's score

![Peds-Screening-Report-Changes-wavanauken-gmail-com-Gmail (1).png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/553e7a2d-663c-4232-b719-8c506af98938)

[2021-10-20 10:38] WorldImpex opened #2042 "Remove all text - "Remove text that says if score >= X""
Remove text that says if score >= X in PDF export

[2021-10-20 10:57] WorldImpex opened #2043 "Revert to original design of cumulative score"
We need to revert to the original design of the cumulative score page with a share report  button

* Only show the cumulative score tiles, message based on threshold met and score.
* Share report button should still be present as well

![image.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/e110de89-168f-423f-9861-0b33d1f1aa87)

[2021-10-20 11:05] WorldImpex opened #2044 "Images above a canvas do not fit"
Steps to recreate
1. Create a new applet
2. Create a draw item
3. Upload an image above the canvas
4. Post to the device
5. Check item
6. see Results

Expected: Image is fit within the image box
Actual: Image is outside of the the box

https://images.zenhubusercontent.com/103405139/f2546a5f-71c7-4329-a08f-69142c954792/image_from_ios.mp4

[2021-10-20 15:20] natalia-muzyka opened #2045 "Daisy chain loop: Activity 1 isn't displayed if there are activities out of the loop"
**case:** some activities are out of the Daisy chain loop
**issue:** activity 1 is hidden (as well as all the loop activities), only the activity that isn't included in the loop is displayed.
Video (firstly I show the correct behavior, the second is the issue): https://www.screencast.com/t/oWk8NG4D3ljT

**Environment:**
ML v0.17.53 (prod)
Samsung S9 // Android 9
Samsung S7 // Android 8
iPhone XS /

[2021-10-21 04:39] #2031 closed

[2021-10-21 11:12] natalia-muzyka commented on #2039
@jj105 The issue is still reproducible(4/4) with one additional step:
after refreshing the application and **before tapping the notification you need to start any activity**
https://www.screencast.com/t/29xIZ6ugGt

**Environment:**
ML v0.17.54 (staging)
Samsung S7 // Android 8.0
Samsung S9 // Android 9
iPhone 8 // iOS 12.4
iPhone XS (2020) // iOS 15.0

[2021-10-21 11:20] #2032 closed, assigned to nobody

[2021-10-21 12:50] natalia-muzyka opened #2048 "[Android] After rotating the device(landscape to portrait) the activity screen is trimmed on top/bottom"
**Preconditions**
Android app is installed and launched.
User is logged in: kimberly_ml@protonmail.com // 12345678

**Steps:**
1. Start the activity in portrait mode (applet: multiple item types; activity: regular)
2. Rotate the device to landscape
3. Rotate again to portrait
4. Pay attention to the screen

**Actual result**
After rotating the device(landscape to portrait) the activity screen is t

[2021-10-21 12:58] natalia-muzyka opened #2049 "The items quantity(stacked item) on the mobile app doesn't match with saved in the applet builder after editing the activity"
**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with stacked items: radio (3 options), checkbox (3 options), slider (3 options)
3. Save the applet and complete the activity on the mobile app
4. Edit the activity: allow remove back button on the radio item
5. Save changes
6. Refresh the app and proceed to the activity
7. Pay attention to the display

[2021-10-22 04:04] #2015 closed

[2021-10-22 11:08] #2049 closed, assigned to mtg137

[2021-10-22 11:59] natalia-muzyka opened #2053 "The "MindLogger" would like to send you Notifications" pop-up isn't shown app if the notification settings are disabled on the device"
**Preconditions**
The app is installed and launched on Android

**Steps to reproduce**
1. Disallow the notifications for all the apps or Mindlogger separately
2. Kill and launch the app again
3. Pay attention to the screen
4. Reinstall the app
5. Launch the app
6. Observe the result

**Actual result**
The "MindLogger" would like to send you Notifications" pop-up isn't shown app if the notification

[2021-10-22 12:03] natalia-muzyka opened #2054 "[UI] The timer is hidden so it is not clear how much time is left when user starts entering the optional text"
If user starts entering optional text on Android the timer is hidden so it is not clear how much time is left.
Android (issue): https://www.screencast.com/t/avSBM5eqj
On iOS timer stays on the top while user enters the text.
iOS (correct): https://www.screencast.com/t/jP7CT6XFdN0

Environment:
ML v0.17.55 (staging)
applet: multiple item types
activity: regular items
Applet password: Qwe123!!!
kimb

[2021-10-25 08:10] #2053 closed, assigned to jj105

[2021-10-25 08:16] natalia-muzyka opened #2059 "[Android] The mobile app automatically turns on the notifications, even though in the general settings all the notifications are disallowed"
**Steps to reproduce**
1. Disallow all the notifications on the device
2. Install and launch the mobile app
3. Check the mobile app permissions in the general notifications settings
4. Observe the result

**Actual result**
The mobile app automatically turns on the notifications, even though in the general settings all the notifications are disallowed. On iOS, the pop-up is shown up after every rei

[2021-10-25 11:34] #2045 closed, assigned to devbtech

[2021-10-25 12:33] #1998 closed, assigned to devbtech

[2021-10-25 12:40] WorldImpex opened #2060 "Summary Screen for all Token Activities"
* Show a summary screen at the end of every TokenLogger Activity (past and future)
* Add Scoring for filling out a background info card and completing an activity
[Designs and additional specs ](https://docs.google.com/presentation/d/1hBYUvqo6E2ABqh_bqMe56VJjQH0zwRGx-yCHH0MOcrw/edit?usp=sharing)

[2021-10-25 12:50] #2039 closed, assigned to jj105

[2021-10-28 08:24] #2005 closed, assigned to nobody

[2021-10-28 10:35] natalia-muzyka opened #2062 "[Prod][Staging] Timer on the second screen is started before the opening if the first screen is splash"
**Preconditions**
The mobile app is installed and launched
The user is logged in on the admin panel and mobile app
https://admin.mindlogger.org/
anita_ml@protonmail.com // qwe123!!!

**Steps to reproduce**
1. Open a site: https://admin.mindlogger.org/
2. Create an activity:
- add a splash screen
- add at least one item with a timer
3. Save the applet
4. Start an activity on the mobile app
5. Wait

[2021-11-01 07:36] natalia-muzyka commented on #2059
The #2 iOS behavior is fixed on ML 0.17.59 (431).
Video: https://www.screencast.com/t/UifGPNsdrDr

As it was discussed by @jj105 and @WorldImpex this ticket I kick to the backlog as it is related to restriction of the framework we are using, so it’s difficult to fix right now.

[2021-11-01 09:45] WorldImpex opened #2064 "Update the Color of the Anchor Text on Sliders for TokenLogger"
Update the color of the anchor text for the slider (distress/ impairment)

https://xd.adobe.com/view/c550ec48-7d76-4f21-90e2-0e71bcec4948-9003/screen/1814dc2f-f47c-4d5d-8c15-96cce87dd948/specs/

[2021-11-02 13:04] #2028 closed

[2021-11-03 09:54] natalia-muzyka opened #2067 "The Applet image isn't displayed as a logo in the PDF mobile report"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
loui_ml@protonmail.com // 12345678
The mobile app is installed and launched
The user is logged in

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with cumulative item (allow to see results)
3. Add the applet image with valid size and format to the appl

[2021-11-03 10:10] natalia-muzyka commented on #2043
Works as expected on:
ML v0.17.60 (staging)
iPhone 8 Plus // iOS 14.2

Testing on Android and webapp is blocked (0.17.60 build is failed and there is still reproducible #1165 on webapp)

[2021-11-03 10:12] WorldImpex commented on #1982
@binaryExDev What is the status of this?

[2021-11-03 10:15] natalia-muzyka commented on #2042
Works as expected on:
ML v0.17.60 (staging)
iPhone 8 Plus // iOS 14.2
https://admin-staging.mindlogger.org/
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/1409ad77-a233-4042-95fd-d61b42301cc7)

Testing on Android and webapp is blocked (0.17.60 build is failed and there is still reproducible #1165 on webapp)

[2021-11-03 10:17] natalia-muzyka commented on #2041
Works as expected on:
ML v0.17.60 (staging)
iPhone 8 Plus // iOS 14.2
https://admin-staging.mindlogger.org/

Testing on Android and webapp is blocked (0.17.60 build is failed and there is still reproducible #1165 on webapp)

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/1409ad77-a233-4042-95fd-d61b42301cc7)

[2021-11-03 11:48] natalia-muzyka commented on #2040
@WorldImpex could you clarify, please:
the splash screen should be displayed as a full separate page before every activity, right?
Right after the activity name and overview, here:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/a5458027-2761-42b4-ace5-f5ee337985bc)

[2021-11-03 11:57] natalia-muzyka opened #2069 "The PDF report can't be opened if there is a watermark (watermark interferes with the button)"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
loui_ml@protonmail.com // 12345678
The mobile app is installed and launched
The user is logged in

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with cumulative item (allow to see results)
3. Add the image with valid size and resolution as a watermark

[2021-11-03 11:58] WorldImpex commented on #2040
@natalia-muzyka It should be the first full page before the text. The usual export should start on page 2

[2021-11-03 12:16] natalia-muzyka opened #2070 "The splash screen is displayed on the summary screen after resuming the activity"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
loui_ml@protonmail.com // 12345678
The mobile app is installed and launched
The user is logged in

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with cumulative item (allow to see results)
3. Add the valid size and format MP4 file to the applet as a s

[2021-11-03 12:38] natalia-muzyka commented on #2040
The latest discussion with @WorldImpex
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/a9c1c4e0-ffb1-4cac-bf15-4c8a18f0a5bb)

**Issues:**
The PDF report isn't opened after tapping the "Share report" button if there is a splash screen [#2069](https://app.zenhub.com/workspaces/mindlogger-webapp-
5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/2069)
The sp

[2021-11-03 14:19] natalia-muzyka opened #2072 "The splash screen image isn't displayed in the PDF mobile report"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
loui_ml@protonmail.com // 12345678
The mobile app is installed and launched
The user is logged in

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with cumulative item (allow to see results)
3. Add the splash screen to the activity and save the applet
4

[2021-11-04 13:34] natalia-muzyka opened #2073 "The summary screen is opened right after starting the new cumulative activity if there is another cumulative activity in progress"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
loui_ml@protonmail.com // 12345678
There are at least two cumulative activities(within one applet or in the different applets) with the enabled summary screen displaying.
Both activities are unscheduled or available but aren't started/completed.

**Steps to reproduce**
1. Start any of two activities
2. Select any res

[2021-11-04 13:35] natalia-muzyka commented on #2070
Relates to:
The summary screen is opened right after starting the new cumulative activity if there is another cumulative activity in progress #2073

[2021-11-05 08:49] WorldImpex opened #2075 "Remove Activity Title from PDF Report"
Remove the activity title from the top of the PDF report for all platforms

![1409ad77-a233-4042-95fd-d61b42301cc7-758×532- (1).png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/60d49bed-91da-4499-a81e-0d1ff3097eab)

[2021-11-05 08:53] WorldImpex opened #2076 "Add a horizontal dividing line and smaller text for Legal - PDF Export"
The legal jargon at the bottom of the PDF export should be very small (to make it look like a disclaimer) and have a horizontal line above it to separate it. Please also make it the same font as the rest of the doc

![1409ad77-a233-4042-95fd-d61b42301cc7-758×532-.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/a01d276d-6189-443e-9011-f878006686f2)

[2021-11-05 09:46] natalia-muzyka commented on #2041
@WorldImpex @binaryExDev none of the changes due to PDF report updates (tickets 2040, 135, 2043, 2042, 2041) aren't reflected on webapp.
@binaryExDev @devbtech could you clarify, please, was there a deployment issue or so?

[2021-11-05 09:50] natalia-muzyka commented on #2075
@WorldImpex the activity name should be replaced by applet name or removed at all?

[2021-11-05 10:16] WorldImpex commented on #2075
@natalia-muzyka Removed completely

[2021-11-05 15:22] natalia-muzyka opened #2077 "The "false" tooltip is added to the response options after the "hide" option was deactivated on the radio item"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
kimberly_ml@protonmail.com // 12345678
The mobile app is installed and launched.
The user is logged in.
There is an applet uploaded via github schema on the account with radio item (e.g. DBT, EMA)

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Proceed to the applet buil

[2021-11-08 00:53] binaryExDev commented on #2076
@natalia-muzyka I don't completely understand the ticket description.
Could you explain it a little more?

[2021-11-08 08:20] natalia-muzyka commented on #2076
@binaryExDev Wil asks to add a horizontal line right above the "I understand that the information..." text (as it is shown on mockup). So this line will divide the report and legal jargon(terms of use).
Terms of use("I understand that the information..." text) should have the same font as all the rest text in the document, but needs to be smaller.

@WorldImpex could you clarify, please: the line s

[2021-11-08 08:41] natalia-muzyka commented on #2041
@binaryExDev none of the changes accordingly to PDF report updates (tickets 2040, 135, 2043, 2042, 2041) aren't reflected on webapp. Please, let me know if I need to create a separate ticket for all of these things on webap. Shoot you a message in slack as well.

[2021-11-08 09:07] natalia-muzyka commented on #2073
Verified as fixed.
Video: https://www.screencast.com/t/NqmEzgLYNqP

ML v0.17.63 (staging)
Samsung S7 // Android 8.0
iPhone 8 Plus // iOS 14.3

[2021-11-08 09:07] #2073 closed

[2021-11-08 09:14] WorldImpex commented on #2076
Yes grey or black is what the color of the line should be @natalia-muzyka

[2021-11-08 09:36] natalia-muzyka commented on #2070
Verified as fixed.
Video: https://www.screencast.com/t/xHOP7y2G

ML v0.17.63 (staging)
Samsung S7 // Android 8.0
iPhone 8 Plus // iOS 14.3

[2021-11-08 09:36] #2070 closed

[2021-11-08 09:43] natalia-muzyka commented on #2069
Verified as fixed.
Video: https://www.screencast.com/t/XOXGQkdQ3

ML v0.17.63 (staging)
Samsung S7 // Android 8.0
iPhone 8 Plus // iOS 14.3

[2021-11-08 09:43] #2069 closed

[2021-11-08 10:05] natalia-muzyka opened #2080 "The PDF report can't be opened if there is a splash screen"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
loui_ml@protonmail.com // 12345678
The mobile app is installed and launched
The user is logged in

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with cumulative item (allow to see results)
3. Add the splash screen to the activity and save the applet
4

[2021-11-08 10:30] natalia-muzyka opened #2081 "The mobile app crashes after completing the activity"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
loui_ml@protonmail.com // 12345678

**Steps to reproduce**
1. Open a mobile app
2. Complete any activity
3. Pay attention to the screen

**Actual result**
The mobile app crashes after completing the activity

**Expected result**
The mobile app continues working after completing the activity

**Video:** https://www.sc

[2021-11-08 10:45] natalia-muzyka commented on #2067
Verified as fixed.
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/c4581052-8075-411a-8d95-9f9b1c5f703c)

Environment:
ML v0.17.63 (staging)
Samsung S7 // Android 8.0
iPhone 8 Plus // iOS 14.3

[2021-11-08 10:45] #2067 closed

[2021-11-08 10:46] natalia-muzyka commented on #2072
Testing is blocked by The PDF report can't be opened if there is a splash screen #2080
https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/2080

[2021-11-08 10:52] natalia-muzyka commented on #2075
Activity title is still displayed on mobile app, webapp, admin panel reports
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/2b7ea647-a270-46be-948d-549a53b1b13e)

[2021-11-09 16:35] natalia-muzyka opened #2083 "The PDF report isn't opened after tapping the "Share report" button on the Summary screen"
**Preconditions**
The mobile app is installed and launched
The user is logged in:
kimberly_ml@protonmail.com / 12345678

**Steps to reproduce**
1. Open the mobile app
2. Complete any activity with cumulative score item and allowed summary results (summary screen)
3. Tap the share report button on the Summary screen
4. Observe the result

**Actual result**
The PDF report isn't opened after tapping

[2021-11-09 17:23] natalia-muzyka commented on #1655
Still reproducible on ML v0.17.64 staging
iPhone X // iOS 14.6
Samsung Galaxy S7 SM-G930FD // Android 8.0

[2021-11-10 15:04] natalia-muzyka opened #2086 "The user's score is displayed as a Cumulative total though the Percentage correct output type was selected in the applet builder"
**Preconditions**
The user is logged in on the admin panel
The mobile app is installed and launched

**Steps to reproduce**
1. Open a site: https://admin-staging.mindlogger.org/
2. Create an activity with the cumulative score item with:
- Percentage output type
- Allow user to see results
3. Complete the activity on the mobile app
4. Pay attention to the screen

**Actual result**
The cumulative(us

[2021-11-11 09:43] natalia-muzyka commented on #2083
Verified as fixed
Video: https://www.screencast.com/t/NJiBUgSH2e

Environment:
ML v0.17.67 (staging)
iPhone 8 Plus // iOS 14.6
Samsung S8 // Android 9

kimberly_ml@protonmail.com // 12345678
applet / activity:
cumulatives (Kimberly) / activity multiple 1
cumulative (watermark) kimberly

loui_ml@protonmail.com // 12345678
daisy chain retest
cumulative revert summary screen
Applet password Qwe123!!!

[2021-11-11 09:43] #2083 closed

[2021-11-11 10:04] natalia-muzyka commented on #2080
Still reproducible on ML v0.17.67 (staging)
Video: https://www.screencast.com/t/7kO0NoNekfab

Devices:
iPhone 8 Plus // iOS 13.3
Samsung S8 // Android 9

[2021-11-11 12:12] natalia-muzyka opened #2087 "The applet activities are replaced by the previously completed activities from the other applet (from time to time)"
The Subscales (josephine) (1) activities are replaced by P+N tokens (reduce) (Kimberly) activity.
It happens from time to time, activities appear and disappear while user is on the screen.
Video: https://www.screencast.com/t/tV9pMHNm

Can't find accurate steps to reproduce.
Previously, on admin panel was confirmed refreshing the responses Subscales (josephine) (1)
Right before refreshing the respo

[2021-11-11 15:36] natalia-muzyka opened #2089 "[UI] Response options images are missing on stacked checkbox and stacked radio"
**Steps to reproduce**
Open a site
Create an activity with stacked items: radio, checkbox
Upload images to the response options
Save activity
Open the saved activity on the mobile app
Pay attention to the screen

**Actual result**
Response options images are missing on the stacked checkbox and stacked radio

**Expected result**
Response options images are displayed on the stacked checkbox and stac

[2021-11-11 20:52] WorldImpex commented on #2080
PDF can be open with a splash screen

[2021-11-11 20:56] WorldImpex commented on #2076
legal jargon needs to be the same font and font size

![image.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/4b7d7809-8b31-463f-8b1e-a2668dd7ba8a)

[2021-11-11 20:57] WorldImpex commented on #2075
Reproducibile

[2021-11-11 20:57] WorldImpex commented on #2072
Reproducible

[2021-11-12 02:15] Matchdev120 commented on #2072
@WorldImpex @natalia-muzyka Just tested it and it's working on my end.

[2021-11-12 08:42] natalia-muzyka commented on #2072
@Matchdev120 issue is still reproducible for PDF mobile report.
Video: https://www.screencast.com/t/lGduLkjLg1

loui_ml@protonmail.com	12345678
applet / activity:
cumulative + splash retest / PC JPG

kimberly_ml@protonmail.com	12345678
applet / activity:
splash screen test (1) / PC 100x100jpg

Samsung S8 // Android 9.0
iPhone 8 Plus // iOS 13.3

[2021-11-12 08:44] natalia-muzyka commented on #2080
Can be open but there's no splash screen image. This issue should be retested when image will be added to the mobile report.

Video: https://www.screencast.com/t/lGduLkjLg1

loui_ml@protonmail.com 12345678
applet / activity:
cumulative + splash retest / PC JPG

kimberly_ml@protonmail.com 12345678
applet / activity:
splash screen test (1) / PC 100x100jpg

Samsung S8 // Android 9.0
iPhone 8 Plus //

[2021-11-12 09:37] natalia-muzyka commented on #2075
@binaryExDev @Matchdev120
Activity title is removed on admin panel and webapp but **still displayed on mobile app**.
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/e1f3700c-c762-4f24-a39a-c435c81142b1)

ML v0.17.69 (staging)
iPhone 8 Plus // iOS 13.3
Samsung S8 // Android 9

[2021-11-12 09:45] natalia-muzyka commented on #2075
Activity title is removed on admin panel and webapp.
Waiting for the fix on mobile app.
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/72550d15-5057-4f4e-8933-604edf1a3d54)

[2021-11-12 10:39] natalia-muzyka commented on #2076
@binaryExDev other than the font issue, the horizontal dividing line is missing in webapp report:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/3837043d-1ed1-484f-8fb5-bfa649b93354)

[2021-11-12 12:45] #2042 closed

[2021-11-12 12:46] #2041 closed

[2021-11-12 15:03] natalia-muzyka commented on #2021
The issue isn't reproducible anymore.

iOS: https://www.screencast.com/t/mvQxO7zCor

Android: https://www.screencast.com/t/oDqenFfRkY

webapp: https://www.screencast.com/t/zXK99dXmwYEK

Environment:
https://admin-staging.mindlogger.org/
https://web-staging.mindlogger.org/
Win 10 // Chrome 94.0.4606.81
ML v0.17.69 (staging)
iPhone 8 Plus // iOS 13.3
Samsung S8 // Android 9

[2021-11-12 15:03] #2021 closed

[2021-11-12 15:09] natalia-muzyka commented on #1860
Still reproducible after recording the maximum (1 minute) video and completing the activity.
Video: https://www.screencast.com/t/SgTjgf9Lx3VZ

ML v0.17.69 (staging)
Samsung Galaxy S8 // Android 9.0

[2021-11-12 15:23] natalia-muzyka commented on #2087
Not able to reproduce this issue.
Video: https://www.screencast.com/t/M0pQjr89g

Account:
josephine_ml@protonmail.com qwertyui
applets:
Subscales (josephine) (1)
P+N tokens (reduce)
P+N tokens (reduce) (Kimberly) (owner: kimberly_ml@protonmail.com / 12345678)
Applet password: Qwe123!!!

Environment:
ML v0.17.69 (staging)
Samsung S8 // Android 9

[2021-11-12 15:23] #2087 closed

[2021-11-12 17:00] natalia-muzyka commented on #1410
Reproducible on ML v0.17.69 (staging)
Samsung S8 // Android 9

[2021-11-15 10:05] WorldImpex commented on #2072
PDF shown on iphone 6s

[2021-11-15 10:06] WorldImpex commented on #2075
Title removed from iphone 6s

[2021-11-16 09:42] natalia-muzyka commented on #2075
Activity title is removed on Android and iOS mobile app as well.
Verified and closed.

https://web-staging.mindlogger.org/
https://admin-staging.mindlogger.org/
ML v017.71 (staging)
Samsung S7 // Android 8.0
iPhone 8 Plus // iOS 13.3

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/c23e5a40-e97b-470b-bc69-7dcc3b2a061f)

[2021-11-16 09:42] #2075 closed

[2021-11-16 10:02] natalia-muzyka commented on #2076
1) Fixed: A horizontal dividing on webapp report is added
2) The legal jargon font and font size is still not displayed in the same size and font as all the rest text in the report on all the platforms:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/04d3d4f9-365f-49bc-9d53-7a407cb12fba)

[2021-11-16 10:15] natalia-muzyka commented on #2072
Splash screen image is displayed in the mobile PDF report.
Verified with:
- uploaded from PC: jpg, png, gif
- URL images:  jpg, png, gif

ML v0.17.71 (staging)
Samsung S7 // Android 8.0
iPhone 8 Plus // iOS 13.3

[2021-11-16 10:15] #2072 closed

[2021-11-16 10:41] natalia-muzyka commented on #2080
Verified and closed.

[2021-11-16 10:41] #2080 closed

[2021-11-16 12:20] natalia-muzyka opened #2095 "[iOS] The splash screen image is not displayed in the webapp PDF report"
Video:
https://www.screencast.com/t/9jddCVds8lbX

Tested with: uploaded from PC images, URL images

https://web-staging.mindlogger.org/
iPhone 8 Plus // iOS 13.3
iPad Pro 10.5 // iOS 15.0
account: kimberly_ml@protonmail.com	// 12345678
applet: splash screen test (2)
Applet password:	Qwe123!!!

[2021-11-16 12:35] natalia-muzyka opened #2096 "[iOS] Applet image is missing on the webapp"
Video: https://www.screencast.com/t/kFKZGbCebi

account: kimberly_ml@protonmail.com // 12345678
applet: splash screen test (2)
Applet password: Qwe123!!!

[2021-11-16 13:47] #2043 closed

[2021-11-16 14:20] WorldImpex commented on #2017
Depends on 2086 - No PR necessary just move when 2086 is deployed

[2021-11-16 15:08] natalia-muzyka opened #2097 "[Android 8] The ML logo is not displayed on the push notification if application is in the background"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
The user is logged in on the mobile app

**Steps to reproduce**
1. Schedule the notification on any activity on the admin panel
2. Save the scheduling
3. Send the app to the background
4. Wait for the notification
5. Pay attention to the screen

**Actual result**
The ML logo is not displayed on the pus

[2021-11-16 20:23] Matchdev120 commented on #2076
![Screen Shot 2021-11-16 at 3.22.10 PM.png](https://images.zenhubusercontent.com/5e248d759c666007f1a71211/3a45b44a-47ab-40cb-8a5c-63d2a3f6d233)

[2021-11-17 16:14] natalia-muzyka commented on #1410
Reproducible on ML v0.17.71 (staging)
Notifications are fired only after turning on the connection

iPhone 8 Plus // iOS 13.3
iPhone 11 // iOS 14.2
iPhone 7	// iOS 13.1.1
Samsung S7 // Android 8.0
Samsung Tab S6 // Android 9
Pixel 3 XL	// Android 10.0

[2021-11-18 09:50] natalia-muzyka commented on #2027
Additional info about delays on such devices like
Samsung S7 // Android 9 and iPhone 6 Plus // iOS 12
Sometimes it is impossible to open the applet/activity with one tap on the applet/activity card.

[2021-11-18 12:02] natalia-muzyka opened #2101 "The URL/PC GIF-animation and video(MP4) repeat continuously on the splash screen"
**Actual result:** The URL/PC GIF-animation and video(MP4) repeat continuously on the splash screen
**Expected result:** There should be a replay button after the screen is complete as per the [requirements](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-applet-builder/367)
**Video:** https://www.screencast.com/t/Vav93Zfob

**Envir

[2021-11-18 12:22] natalia-muzyka opened #2102 "[mobile app][webapp][admin panel]The negative score isn't displayed on the scale in the PDF report"
**Preconditions**
The user is logged in on the admin panel
https://admin-staging.mindlogger.org/
kimberly_ml@protonmail.com // 12345678
The mobile app is installed and launched, the user is logged in

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with at least one item (e.g. radio)
3. Set up negative cumulative scores
4. Add cumulative item:
-All

[2021-11-18 13:41] natalia-muzyka opened #2103 "The "s" letter in the "Your child's score" is missing in the PDF report on the mobile app"
Screenshot:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/b1a68174-ba43-4386-b131-0f40c7023011)

ML v0.17.73 (staging)
Samsung S7 // Android 8.
Samsung Tab S6 // Android 9
iPhone 8 Plus // iOS 13.3
kimberly_ml@protonmail.com	12345678
applet: cumulative (Kimberly)
activity: multiple 1
Applet password:	Qwe123!!!

[2021-11-18 14:48] natalia-muzyka commented on #2076
@Matchdev120 On webapp and admin panel the second block of legal jargon(caps) looks almost the same size as the rest text. You can compare with Message at or above(caps). And it feels like the 1st block has a smaller font size than the 2nd.
Should this be fixed or we can leave it as acceptable? @WorldImpex

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/4178e43d-2356-41

[2021-11-18 16:15] natalia-muzyka opened #2104 "[UI][Desktop version] The splash image/video is displayed too big(not fully) or too small on the activity page (depends on image/video ratio)"
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/473b3ba6-c6e6-4013-bdcc-28e82506b5b5)

**Expected:**
There should be min/max width and height for content in the splash item so even if the image/video with an uncommon ratio is uploaded it can be correctly displayed and the user doesn't need to scroll (or scale, enter fullscreen if it is a video), at least on desktop with

[2021-11-18 17:48] natalia-muzyka commented on #1410
@devbtech
the issue is reproducible on 17.73 (staging)

**DBT(some users had completed some of the activities, but not today) steps:**
1. set up repeated daily three activities with reminder notifications:
daily (daily repeat)
events and goals (weekly repeat)
target behavior (monthly repeat)
2. save the schedule and refresh mobile app
3. turn off wifi on device
4. wait for a scheduled time

**Cond

[2021-11-18 18:04] WorldImpex commented on #2076
Please fix @Matchdev120

[2021-11-18 23:58] Matchdev120 commented on #2076
@WorldImpex @binaryExDev The 1st block and 2nd block have the same font-size.
But in English, the capital letters look a little bigger than small letters. Do we still need to modify the font-size for the 2nd block?

[2021-11-19 08:45] natalia-muzyka commented on #2103
Verified as fixed

ML v0.17.74 (staging)
Samsung S7 // Android 8.
iPhone 8 Plus // iOS 13.3
kimberly_ml@protonmail.com 12345678
applet: cumulative (Kimberly)
activity: multiple 1
Applet password: Qwe123!!!

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/055f3985-a0a7-4440-8321-e97a75d41fc2)

[2021-11-19 08:45] #2103 closed

[2021-11-19 08:54] natalia-muzyka commented on #2101
@mtg137
**fixed for video:** https://www.screencast.com/t/WaNDuwEwPa9b

**the issues for GIF:**
1) the reload button is displayed right after starting the animation
2) reload button isn't vertically aligned
3) animation still repeats continuously
video: https://www.screencast.com/t/TPTxuXJYiGt

Environment:
ML v0.17.74 (staging)
iPhone 8 Plus / iOS 13.3
Samsung S7 // Android 8
account: kimberly_ml

[2021-11-19 10:35] WorldImpex commented on #2101
We need to fix 1 & 2. We will rely on the user setting the stop point of a gif. I don't think this is critical for launch

[2021-11-19 10:45] WorldImpex opened #2109 "Update MindLogger Theme to remove logos"
Where there is a logo from the Theme, remove it

[2021-11-19 11:59] natalia-muzyka opened #2110 "[UI][iOS 15 / Safari] There is a black stripe below the footer after scrolling the page"
Video: https://www.screencast.com/t/XxqitvIbpD

Environment:
https://web-staging.mindlogger.org/
iPhone XS // iOS 15.0.2 // Safari

[2021-11-19 15:36] natalia-muzyka opened #2111 "[Optimization issue] Delays in opening the applet, activity, PDF report (can't be opend by first tap)"
1) After the user has a lot of actions within one session, or completed a lot of activities there is a delay in opening the next applet/activity. User can't open the activity with one tap.
Video: https://www.screencast.com/t/lPTCvWvpMaO

2) If there was uploaded a big-size GIF/video image (100mb+), the PDF report sometimes isn't opened at all or opened with a delay (more than 5 sec).
Video: https:

[2021-11-19 17:45] mtg137 commented on #2101
I discussed with @WorldImpex,
due to technical constraints, I think we want to fix just 2) for now

[2021-11-22 09:40] natalia-muzyka commented on #1442
Notifications are broken again on staging.
Video: https://www.screencast.com/t/wbCGRysskR5

Environment:
ML v0.17.76 (staging)
account owner:
kimberly_ml@protonmail.com // 12345678
applets: DBT, DBT (1), Conditionals (kimberly)
accounts:
bernard_ml@protonmail.com qwe123!!!
alyssia_ml@protonmail.com qwertyuio
loui_ml@protonmail.com 12345678
Applets password: Qwe123!!!

Devices:
Samsung S7 // Androi

[2021-11-22 09:41] natalia-muzyka commented on #1410
Blocked by
https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/1442

[2021-11-22 10:18] natalia-muzyka commented on #2101
@mtg137 Reload button is still not centered vertically on GIF animation:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/3836b08a-ff2c-43e4-b136-d06f7717f0e5)

ML v0.17.76 (staging)
iPhone 6S // iOS 14.4
Samsung S7 // Android 8
Samsung Tab S6 // Android 9
applet: splash screen test (1)
activities:
PC 200x200 gif + cumulative
URL 200x200 gif
Applet password: Qwe123!!!

[2021-11-22 10:37] natalia-muzyka commented on #2076
Verified as fixed:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/c082dcd0-7874-40d9-bbea-04c5f290f0db)

[2021-11-22 10:37] #2076 closed

[2021-11-22 14:34] mtg137 commented on #2101
@natalia-muzyka - I think that is expected behavior
I discussed with @WorldImpex on last Friday and I think we want to move the button into the nav bar at the bottom for gif player.

[2021-11-22 14:44] WorldImpex commented on #1982
@natalia-muzyka Could you retest ot see if this is an issue on the latest version?

[2021-11-22 15:05] natalia-muzyka commented on #1442
Verified as fixed.
Video: https://www.screencast.com/t/2UUy0r6mv

Environment:
ML v0.17.76 (staging)
Devices:
Samsung S7 // Android 8.0
iPhone 6S // iOS 14.4

[2021-11-22 15:08] natalia-muzyka commented on #1410
Still reproducible. Missing notifications are fired after resuming the internet connection.
Video: https://www.screencast.com/t/jPoMY4qPShjc

Devices:
Samsung S7 // Android 8.0
Samsung Tab S6 // Android 9
iPhone 8 Plus // iOS 13.3
iPhone 6S // iOS 14.4

[2021-11-22 15:23] natalia-muzyka commented on #1982
@WorldImpex drawing is much smoother now, but if I try to draw smth quickly, there is a delay:
https://www.screencast.com/t/HRz8pJsnK

ML v0.17.76 (staging)
iPhone 6S // iOS 14.4

[2021-11-23 13:26] WorldImpex commented on #1982
We can reopen if this becomes an issue again

[2021-11-26 16:27] WorldImpex opened #2119 "[PROD] Watermark should not be shown on Splash Screen"
Steps to recreate:
1. Create an applet with a splash screen and watermark
2. Look at applet in mobile
3. See results

Expected: The splash screen should not show the watermark
Actual: The splash screen shows the watermark

[2021-11-26 16:31] natalia-muzyka commented on #2081
The issue is reproducible again on ML v0.18.1 (staging)

Video: https://www.screencast.com/t/5RU5Eax5kokE

Devices:
iPhone 8 Plus // iOS 13.3
iPhone 11 // iOS 14.2
Samsung S7 // Android 8

[2021-11-26 17:37] natalia-muzyka commented on #2033
Verified as fixed.
Video: https://www.screencast.com/t/GQPnk3wDfN

Environment:
ML v0.17.51 (staging)
iPhone 8 Plus // iOS 13.3
iPhone 11 // iOS 14.2
Samsung S7 // Android 8.0
owner: josephine_ml@protonmail.com // qwertyui

[2021-11-26 17:37] #2033 closed

[2021-11-29 08:24] natalia-muzyka commented on #2077
@binaryExDev the issue is fixed for EMA / Weekly / skip_playing item.
For DBT / Target Behaviors Bank the issue is still reproducible.
After hiding/showing the items in DBT / Daily card and EMA / Daily activities issue is reproducible as well.
Video: https://www.screencast.com/t/Ezf3dQN4uv

Environment
https://admin-staging.mindlogger.org/
kimberly_ml@protonmail.com // 12345678
applet / activity:

[2021-11-29 10:24] binaryExDev commented on #2077
@natalia-muzyka Would you test it on a new account? Or you can delete and create a new one for testing.

[2021-11-29 10:40] natalia-muzyka commented on #2077
@binaryExDev issue is reproducible on the new account(just created) as well.
sevav47523@mainctu.com // 123456
DBT applet

Sure, I'll create a new one to retest after your fix will be deployed.

[2021-11-29 10:41] natalia-muzyka commented on #2119
@jj105 @devbtech Waiting for a new build to retest this issue.

[2021-11-29 11:27] natalia-muzyka commented on #1792
@devbtech The date and time picker are still shifted to the left. Not reproducible on iPhone 8 Plus // iOS 13.3

Environment:
ML v0.18.1 (staging)
iPhone 11 // iOS 14.2
iPad Pro 10.5 // iOS 15.0.2

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/fd127bdc-d5c1-44b6-9876-b3e72d221c8f)

[2021-11-29 14:49] natalia-muzyka commented on #2119
@jj105 @WorldImpex
Verified as fixed **on staging**
Video: https://www.screencast.com/t/zZ73j3xeXD1z

ML v0.18.3 (staging)
iPhone 8 Plus // iOS 13.3
Samsung S7 // Android 8

[2021-11-29 14:52] #2119 closed

[2021-11-29 15:20] natalia-muzyka commented on #2029
@devbtech The issue is reproducible on ML v0.18.3 (staging) with a particular activity

Video: https://www.screencast.com/t/5m69pqyMyq

Environment:
Samsung S7 // Android 8
iPhone 8 Plus // iOS 13.3
kimberly_ml@protonmail.com	12345678
applet: all items (mobile app only)
activity: stacked items
applet password: Qwe123!!!

[2021-11-29 15:21] natalia-muzyka commented on #2081
Verified as fixed.
Video: https://www.screencast.com/t/uKTXS22orHWi

Devices:
iPhone 8 Plus // iOS 13.3
iPhone 11 // iOS 14.2
Samsung S7 // Android 8
account; kimberly_ml@protonmail.com // 12345678

[2021-11-30 12:18] natalia-muzyka commented on #1777
1. I don't have access to this [doc](https://docs.google.com/presentation/u/0/d/1loyTHS0cXFoCjFXRM62wcVHD40mx7v_0iPaZIkBKzXE/edit), requested an access
2. as per Question #4 in the [doc](https://docs.google.com/document/d/1hxGl3-7gXEP0PaIhGeljJAPTKxCXTOCb5mD4ivgGxEc/edit) were there created different sets with different order of questions to test? or the schema from the comment above is the one to

[2021-11-30 12:29] natalia-muzyka opened #2124 "Web and mobile app: The watermark overlaps some of the text/images on some screens"
implemented as original: in mobile app and webapp is possible overlapping the content, because there were a lot of UI issues with adding a separate block to the activity screen/cart. and watermark should be a little bit transparent so all the overlapped info could be visible (as we did the same with a timer).

we need to clarify what will be the expected result: should we leave the same implementa

[2021-11-30 13:10] WorldImpex commented on #2124
The text area should resize as to not cover the watermark

[2021-11-30 13:19] WorldImpex opened #2125 "Draw Canvas on iPad"
Give more real estate to the header image and reduce the draw canvas so the item says on the same page

 ![image0.jpeg](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/844afe13-547e-45da-ab86-b495ffc686e7)

[2021-11-30 15:04] natalia-muzyka commented on #2124
@WorldImpex could you confirm, what changes should be made i we need to avoid overlapping UI issue?:
1. on the mobile app and mobile webapp all the elements should be rebuilt and shifted down to not cover the watermark;
2. on mobile app timer (scheduled) should be moved below the watermark or next to it;
3. there should be a block with max-width/max-height and the uploaded watermark image should b

[2021-11-30 15:53] #2054 closed, assigned to astef021

[2021-11-30 16:12] natalia-muzyka commented on #1781
@astef021 @WorldImpex  The CMI logo isn't updated on the:
- mobile app (0.18..4 staging) / About page
- admin panel
- applet library

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/4d956684-f4b3-4f80-845d-7cb8bc9397f5)

[2021-11-30 16:17] astef021 commented on #1781
I think my admin panel, applet library, and backend PRs are not merged
I missed logo on about page, I'll fix it

[2021-11-30 16:27] natalia-muzyka commented on #2089
Verified as fixed

Environment:
ML v0.18.4 (staging)
iPhone 11 // iOS 14.2
Samsung S7 // Android 8
kimberly_ml@protonmail.com // 12345678
applet: all items (mobile app only)
activities: stacked items, stacked items (1)
Applet password: Qwe123!!!

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/d65dae34-d4cf-4d8b-b531-fc314ea2b10d)

[2021-11-30 16:27] #2089 closed

[2021-11-30 20:14] WorldImpex commented on #2125
@Matchdev120 When you mock this up locally, please send me a screenshot of it

[2021-11-30 20:27] WorldImpex opened #2131 "Summary Screen as last screen is missing "Done""
When taking the ped screener, there is a summary screen based on the cumulative score. When the user gets to the last item requiring using input the user sees done and then the cumulative score shows done

Expected: The last item that requires user input shows next and the done is shown on the cumulative score item

![IMG_3827.PNG](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/7430

[2021-12-01 13:25] natalia-muzyka opened #2132 "[UI] The watermark is trimmed in mobile app if image width is bigger than height"
**Expected result:**
The watermark block has max height and max width. Depending on what side(width or height) is bigger in the uploaded image, this image should fit this max-width or max-height.

https://www.screencast.com/t/hQ6uyy0jPz5
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/66bd3133-ff05-4db2-b01a-91cf99c59f07)

Environment:
ML v0.18.4 (staging)

[2021-12-01 13:33] natalia-muzyka opened #2133 "Add info to watermark item in the applet builder"
After the main text (requirements) there should be added additional option: the watermark image should have some transparency, 'cause it can overlap other elements on the activity screen. @WorldImpex could you help me please construct the option text in the best way? thanks.
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/d828381f-811f-4169-b60f-329570ba664f)

[2021-12-01 13:46] natalia-muzyka opened #2134 "The infinity loader after an attempt to open email "edit" link with the wrong account"
**Preconditions**
User received an email with Edit link:
bernard_ml@protonmail.com	// qwe123!!!
Link: https://admin-staging.mindlogger.org/#/build?lang=en_US&appletId=61a76d53a5162c317813b9fa&accountId=6166a62986fb6903962dc5c4

**Steps to reproduce**
1. Open the Edit link
2. Log in to any other account that doesn't have edit access to the applet
3. Pay attention to the screen

**Actual result**
Th

[2021-12-02 06:05] Matchdev120 commented on #2029
@natalia-muzyka I just tested this applet and activity and it's working fine on my end.
all items(mobile app only) / stacked items

Would you test it once again?

[2021-12-02 12:45] natalia-muzyka commented on #1410
@devbtech The issue is still reproducible. Notifications aren't fired in offline mode. After resuming the internet connection some notifications are fired. For all the tested users any activity wasn't in progress or completed (at all).

Video (Samsung S7, iPhone 11, DBT1): https://www.screencast.com/t/xMWmwqqWL3a4
Video (Samsung Tab S6, iPhone SE 2020, DBT): https://www.screencast.com/t/5zvtfvnA9O

[2021-12-02 13:55] natalia-muzyka commented on #2086
Verified as fixed.
Video: https://www.screencast.com/t/IyNVO5G2ex

Environment:
https://admin-staging.mindlogger.org/
ML v0.18.7 (staging)
iPhone 11 // iOS 14.2
Samsung S7 // Android 8

[2021-12-02 13:55] #2086 closed

[2021-12-02 14:39] natalia-muzyka commented on #2029
@Matchdev120  I'm sorry, wrong applet name, it's multiple item types / stacked items:
Video: https://www.screencast.com/t/09Gyqm3Vt
ML v0.18.7 (staging)
iPhone SE 2020 // iOS 14.2
Samsung S7 // Android 8

[2021-12-02 15:02] natalia-muzyka commented on #2062
@devbtech issue is still reproducible.
Video: https://www.screencast.com/t/580doC9l

[2021-12-02 15:17] natalia-muzyka opened #2135 "The next screen isn't automatically opened when the time is finished if activity includes splash screen and was resumed"
**Preconditions**
The mobile app is installed and launched
The user is logged in on the admin panel and mobile app
https://admin-staging.mindlogger.org/
kimberly_ml@protonmail.com // 12345678
There is an activity that includes a splash screen and item with a timer next to it (timer + splash screen)

**Steps to reproduce**
1. Start an activity on the mobile app
2. Tap the "next" button
3. Close act

[2021-12-02 15:18] natalia-muzyka commented on #2062
Related issues:
https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/2135

[2021-12-02 15:23] natalia-muzyka opened #2136 "The splash screen is displayed instead of screen on which activity was closed and resumed"
**Preconditions**
The mobile app is installed and launched
The user is logged in on the admin panel and mobile app
https://admin-staging.mindlogger.org/
kimberly_ml@protonmail.com // 12345678
There is an activity that includes a splash screen

**Steps to reproduce**
1. Start an activity on the mobile app
2. Tap the "next" button
3. Close activity
4. Resume activity
5. Pay attention to the screen

[2021-12-02 17:55] mtg137 commented on #1777
@natalia-muzyka
1 - I don't have access to that doc too, I used only [this doc](https://docs.google.com/document/d/1hxGl3-7gXEP0PaIhGeljJAPTKxCXTOCb5mD4ivgGxEc/edit) when I was building flanker task and I think it includes everything
2 - schema from comment above is the one to test
the randomization of question is implemented on mobile app side, so if you start activity one time then we'll see que

[2021-12-03 09:37] WorldImpex opened #2140 "Make Watermark Smaller"

[2021-12-03 10:28] natalia-muzyka commented on #1976
Verified as fixed.
Video: https://www.screencast.com/t/z6y8b24nkGW

Devices:
iPhone SE 2020 // iOS 14.2
Samsung S7 // Android 8
Samsung Tab S6 // Android 9

[2021-12-03 10:28] #1976 closed

[2021-12-03 11:03] natalia-muzyka opened #2141 "The geolocation warning message isn't displayed if geolocation is turned off on the device"
**Steps to reproduce**
1. Turn off geolocation on the device
2. Install and launch the app
3. Log in: bernard_ml@protonmail.com // qwe123!!!
4. Start the activity with a geolocation item (geolocation test)
5. Pay attention to the screen

**Actual result**
The geolocation warning message isn't displayed if geolocation is turned off on the device

**Expected result**
The geolocation warning message

[2021-12-03 11:12] natalia-muzyka opened #2142 "[Android] The geolocation isn't saved after turning on geolocation and tapping the "Get geolocation" button"
**Preconditions**
The geolocation is turned off in the general device settings
The mobile app is installed and launched
The user is logged in: bernard_ml@protonmail.com // qwe123!!!
(ML app has permission to use geolocation)

**Steps to reproduce**
1. Start the activity with a geolocation item (geolocation test)
2. Tap the "Get geolocation" button
3. Turn on geolocation
4. Restart the activity wit

[2021-12-03 13:07] WorldImpex commented on #1777
@mtg137 It is 30 per Stan's reply
![image.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/51cc3d65-29bb-49b0-9ea1-8ddec21fb369)

[2021-12-03 13:13] natalia-muzyka commented on #1975
@binaryExDev
there is still not translated to French text: in the confirmation pop-up and after choosing photo/video camera
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/1a7d2f15-a993-4026-a2b6-f42c9f8eb202)

Pop-up is not translated on iOS and Android. Cancel, Retake, Use video/photo buttons aren't translated only on iOS (after choosing photo/video camera)

ML v0.18.8

[2021-12-03 16:00] natalia-muzyka opened #2143 "[FR][webapp][mobile app][admin panel] Share/download report button and PDF report(automatically generated text) aren't translated to French"
mobile app - https://www.screencast.com/t/VWQlXbpvN
webapp - https://www.screencast.com/t/tfjMxj8TZ
admin panel - https://www.screencast.com/t/tlxnN0FVbl

https://admin-staging.mindlogger.org/
https://web-staging.mindlogger.org/
ML v0.18.8 (staging)
Samsung S7 // Android 8
iPhone 8 Plus // iOS 13.3

[2021-12-03 16:16] WorldImpex opened #2144 "Add CMI Theme to Applet Builder"
name: CMI
logo: CMI Logo from s3
backgroundImage: CMI Logo from s3
primaryColor: #0067A0
secondaryColor: #FFFFFF
tertiaryColor: #404040

- Add CMI logos in different places
   - Applet list page - top right (update the theme to accept the logo. This should not impact users that have a circle logo
   - Activity list page top right header bar
- Change the header on the applet list page
- Thank you p

[2021-12-03 17:37] natalia-muzyka commented on #1974
Fixed on About, About (applet), Thank you, pop-up (restart/resume)
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/623faff0-41c3-4c2d-933a-0355b12bbdd1)

iPhone 8 Plus // iOS 13.3
Samsung S7 // Android 8

[2021-12-06 02:09] binaryExDev commented on #1975
@natalia-muzyka Cancel/Retake/Use Video/Use Photo can't be translated in Mindlogger because the texts are provided by the Operating System. Users can update the texts by changing the primary language of their phones.

[2021-12-06 09:08] natalia-muzyka commented on #1975
Text in the confirmation pop-up and after choosing photo/video camera is fixed.
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/ec8febe4-aa1e-44b0-b540-65795dc7ddb4)

**Cancel/Retake/Use Video/Use Photo buttons are still not translated, though French is a primary system language:**
Video: https://www.screencast.com/t/duWofHbjbZ
ML v0.18.9 (staging)
iPhone SE 2020 // iOS

[2021-12-06 09:36] natalia-muzyka commented on #2062
Verified as fixed. Need to be retested after fixing the related tickets #2135 & #2136
Video: https://www.screencast.com/t/Jps6I8pHDH

ML v0.18.9 (staging)
Samsung S7 // Android 8
iPhone 8 Plus // iOS 13.3

[2021-12-06 09:47] natalia-muzyka commented on #2029
Verified as fixed.
Video: https://www.screencast.com/t/FbVTNK0EW3

ML v0.18.9 (staging)
iPhone 8 Plus // iOS 13.3
Samsung S7 // Android 8

[2021-12-06 09:47] #2029 closed

[2021-12-06 11:06] natalia-muzyka commented on #1781
Fixed for ML app About screen.
@astef021 On the admin panel, applet builder, and library staging there is still an old logo.

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/a00e01a8-321f-4a06-81a9-73f0d40db24f)

[2021-12-06 11:20] natalia-muzyka commented on #2027
Verified as fixed.
Video: https://www.screencast.com/t/onVXMJwNjZ1

ML v0.18.9 (staging)
Samsung S7 // Android 8.0
alyssia_ml@protonmail.com // qwertyuio
loui_ml@protonmail.com // 12345678

[2021-12-06 11:20] #2027 closed

[2021-12-06 11:40] WorldImpex commented on #1781
Could you also do the login logo with this image?

![ChildMindInstitute_Logo_Horizontal_KO copy.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/75fffc3b-c261-4dfe-a123-aff010b7322c)

[2021-12-06 15:36] astef021 commented on #1781
@devbtech My PRs for admin panel, applet library and backend are not merged yet

https://github.com/ChildMindInstitute/mindlogger-backend/pull/1172
https://github.com/ChildMindInstitute/mindlogger-admin/pull/1330
https://github.com/ChildMindInstitute/mindlogger-applet-library/pull/143

could you please check them?

[2021-12-07 04:54] #1974 closed

[2021-12-07 09:00] lioneldeveauxcri commented on #1975
Is the text in the pop-up from my translation file? It's not very idiomatic.

[2021-12-07 09:16] natalia-muzyka commented on #2136
Verified as fixed,
Video: https://www.screencast.com/t/f6GUxluEu

Environment:
ML v0.18.10 (staging)
Samsung S7 // Android 8
iPhone 7 // iOS 13.1
account: kimberly_ml@protonmail.com // 12345678
applet: splash retest, timer + splash

[2021-12-07 09:29] natalia-muzyka opened #2152 "[Splash + cumulative item + text item] After entering text input and tapping the "Next" button the summary screen isn't shown and user is redirected to the first prompt"
**Preconditions**
The mobile app is installed and launched
The user is logged in on the admin panel and mobile app
https://admin-staging.mindlogger.org/
kimberly_ml@protonmail.com // 12345678
There is an activity that includes a splash screen, cumulative item(allow user to see results) and text item (response identifier): splash retest / PC jpeg 700x1000

**Steps to reproduce**
1. Start an activit

[2021-12-07 09:35] natalia-muzyka opened #2153 "Nothing happens after tapping the "done" button on the Summary screen"
**Preconditions**
The mobile app is installed and launched
The user is logged in on the admin panel and mobile app
https://admin-staging.mindlogger.org/
kimberly_ml@protonmail.com // 12345678
There is an activity that includes a splash screen and cumulative item(allow user to see results):
splash requirements / splash activity jpg

**Steps to reproduce**
1. Start an activity on the mobile app
2. P

[2021-12-07 09:50] natalia-muzyka commented on #2131
Need to retest after fixing the new related issue:
https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/2152

[2021-12-07 10:50] #2136 closed

[2021-12-07 10:52] natalia-muzyka commented on #2135
The next screen is opened but there's still an issue with the timer's behavior on the screen that goes right after splash screen.
Need to be retested after fixing:
https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/2062

[2021-12-07 12:01] natalia-muzyka commented on #1978
Elements aren't overlapped, but the padding-top and padding-bottom are too small, I think.
Checked on iPhone 11 // iOS 14.2 // ML v0.18.10 (staging)

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/f20cf1f0-c3cf-495c-b511-688057fae4a8)

[2021-12-07 12:37] natalia-muzyka commented on #1979
Verified as fixed on:

ML v0.18.10 (staging)
iPhone 11 // iOS 14.2 // 828x1792 6.1"
iPhone 12 Pro Max // iOS 15.0.1 // 1284 x 2778 6.7"
Samsung Galaxy S7 SM-G930FD	// Android 8.0	// 1440x2560	5.1"
iPad Air 2 Wi-Fi // iOS 14.6 // 1536x2048	9.7"
Samsung Galaxy S20 // Android 11 // 1440x3200	6.2"
Samsung A31	// Android 11	// 1080 x 2400	6.4
Pixel 3 XL	  // Android 10.0 // 1440x2960 6.3"

[2021-12-07 13:26] WorldImpex commented on #1978
@natalia-muzyka I agree - A little more padding would be better

[2021-12-07 13:39] natalia-muzyka commented on #1781
CMI logo is updated on:

- Mobile app
- Email
- Admin
- Applet Builder
- Webapp
- Applet Library

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/5c481e54-654b-46c3-ad02-0291ca87330c)

[2021-12-07 13:39] #1781 closed

[2021-12-07 16:30] natalia-muzyka commented on #2125
**Issue: It is possible to draw out of canvas if user starts the line in canvas.**
Video: https://www.screencast.com/t/q0QEIBDVi

On tablets in portrait mode canvas takes the device max-width. Looks similar on iPad Air 2 WiFi 9.7, iPad Pro 10.5 and Samsung Tab S6. If there is some text, user can scroll down, so canvas and image will fit the screen and it will be comfortable to draw a copy.

On Sam

[2021-12-07 16:32] #1979 closed

[2021-12-08 08:32] natalia-muzyka commented on #2135
Verified as fixed.
Video: https://www.screencast.com/t/OOD7zlL3o

ML v0.18.11 (staging)
iPhone 12 Pro Max // iOS 15.0.1
Samsung S7 // Android 8.0

[2021-12-08 08:32] #2135 closed

[2021-12-08 08:35] natalia-muzyka commented on #2153
Verified as fixed.
Video: https://www.screencast.com/t/yzU1VxLJg

ML v0.18.11 (staging)
iPhone 12 Pro Max // iOS 15.0.1
Samsung S7 // Android 8.0

[2021-12-08 08:35] #2153 closed

[2021-12-08 08:39] natalia-muzyka commented on #2152
Verified as fixed.
Video: https://www.screencast.com/t/ByrtnY9qcaF

ML v0.18.11 (staging)
iPhone 12 Pro Max // iOS 15.0.1
Samsung S7 // Android 8.0

[2021-12-08 08:39] #2152 closed

[2021-12-08 08:41] natalia-muzyka commented on #2131
Verified as fixed.
Video:
https://www.screencast.com/t/BwoayLKhNOz3
https://www.screencast.com/t/XTvaDbbB

ML v0.18.11 (staging)
iPhone 12 Pro Max // iOS 15.0.1
Samsung S7 // Android 8.0

[2021-12-08 08:41] #2131 closed

[2021-12-08 08:45] natalia-muzyka commented on #2062
Verified as fixed.
Video:
https://www.screencast.com/t/M1SY026P

ML v0.18.11 (staging)
iPhone 12 Pro Max // iOS 15.0.1
Samsung S7 // Android 8.0

[2021-12-08 08:45] #2062 closed

[2021-12-08 11:46] natalia-muzyka commented on #2102
If user achieved a negative score, the "Your child's score" label will be trimmed on the left side:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/5f3aab73-2a9f-41df-9b14-c98a49267009)

[2021-12-08 13:20] binaryExDev commented on #1978
@WorldImpex @natalia-muzyka  If we add some more padding to fix the overlap issues, it looks pretty bad on the other phones which don't have the notches.
![Screen Shot 2021-12-08 at 7.54.34 AM.png](https://images.zenhubusercontent.com/5fc8d89138215d1055c6d606/75bcbf27-54da-416f-9c49-6c49445370eb)

[2021-12-08 13:26] WorldImpex commented on #1978
Okay lets leave it as is for now @binaryExDev

[2021-12-08 14:48] natalia-muzyka commented on #1975
@lioneldeveauxcri could you provide the correct translation, please? it is missing in the Translations/ Localizations file.

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/01f529ad-9942-4ae0-abb4-7a1debb7c6b1)

[2021-12-08 15:13] lioneldeveauxcri commented on #1975
Yes, I couldn't translate properly without the context (because of noun gender)
So:
"Take a new picture or choose one from your library" -> "Prenez un nouvelle photo, ou choisissez-en une dans votre bibliothèque"
"Take a new video or choose one from your library" -> "Prenez un nouvelle vidéo, ou choisissez-en une dans votre bibliothèque"
"Camera" -> "Appareil photo"
"Library" -> "Bibliothèque"

[2021-12-08 15:21] binaryExDev commented on #1975
Sure

[2021-12-08 15:58] mtg137 commented on #2125
I discussed with @WorldImpex, I think we need to revert to old draw canvas for now and we'll implement this feature next year

[2021-12-08 16:45] natalia-muzyka commented on #1410
still reproducible:
Samsung S7 & iPad Air 2 WiFi: https://www.screencast.com/t/vkM4p6lLxzx
iPhone 12 pro max: https://www.screencast.com/t/FwchXJNSjub5

tested with existing applet EMA (on 12 pro max notification were fired, on Samsung S7 weren't).
tested with newly created applet: notifications weren't fired on any device.
notifications are shown randomly only after resuming the internet connecti

[2021-12-09 12:08] natalia-muzyka commented on #1777
@WorldImpex @mtg137

**1. each test session contains 360 trials instead of 120**
ZIP: [https://app.zenhub.com/files/103405139/83bc9bae-c777-4408-ae75-e8055e45e51a/download](https://app.zenhub.com/files/103405139/83bc9bae-c777-4408-ae75-e8055e45e51a/download)

---

**2. because of issue #1 the Total screen with greyed "Finish" button is displayed after each test block within the MAIN test**
video:

[2021-12-09 13:02] natalia-muzyka commented on #1775
@Matchdev120 @WorldImpex could anyone share the applet schema, please?

[2021-12-09 13:02] natalia-muzyka commented on #1778
@mtg137  @WorldImpex could anyone share the applet schema, please?

[2021-12-09 13:26] WorldImpex commented on #1775
Done!

[2021-12-09 13:27] WorldImpex commented on #1778
Done!

[2021-12-09 15:38] natalia-muzyka commented on #1777
one more question:
resuming the activity isn't implemented in the current iteration?
https://www.screencast.com/t/t7pELkLhmb

[2021-12-09 15:49] mtg137 commented on #1777
I think in current version, resuming activity will redirect user to starting point of phase that user was on.

if user was on second test phase before closing activity, he will preserve his responses for first test phase and trial phase

[2021-12-09 17:08] natalia-muzyka commented on #1778
@WorldImpex @mtg137

**1.** the same question about timestamps as for the Flanker applet, **shouldn't timestamps be displayed as date with time (and milliseconds)?**
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/12eaa364-e9e0-4164-9380-81b633f5f9df)

**2. is this an expected user's score displaying? shouldn't it be similar to the mobile app displaying?**
![image.png](h

[2021-12-10 00:24] binaryExDev commented on #2132
@natalia-muzyka Could you share me the applet/activity that you used to test watermark?

[2021-12-10 07:08] mtg137 commented on #1777
for comment 5, I think we need to display timestamps in integer format for flanker task

For question 1, I think it's correct to start from 0
For question 2, in the [example data export](https://docs.google.com/spreadsheets/d/1j7Q_sKBN87QZJid72j8rsBQdcAQgxj59yALTfA4V_W0/edit#gid=710500285), I think left-neutral and right-neutral event types are not considered in "Stimulus Type" column

![image.png

[2021-12-10 07:10] mtg137 commented on #1777
This is description about columns that we received when we were working on building flanker task.

Expected Display Onset: int time in ms representing the pre-computed time at which the stimulus should appear, relative to the start of the task.
Actual Display Onset: in time in ms representing the time at which the stimuli were actually delivered. Given the lack of a video blank/refresh marker, Thi

[2021-12-10 07:31] natalia-muzyka commented on #2132
@binaryExDev
kimberly_ml@protonmail.com / 12345678
applets:
all item types (from applet library), all items
Applet password:	Qwe123!!!
original images:
![NIMH logo.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/2f9f3a68-e397-48aa-bdbe-00df546a157f)
![MindLogger_AppScreens_700x1000.jpg](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/d578fbaa-0730-4bda-b174-19b542b

[2021-12-10 08:45] natalia-muzyka commented on #1777
@mtg137 thank you for the additional info!
I have a few more **questions**:

**5. that is correct that response and fixation have the same stimulus type value?**
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/2c5d7901-fe63-4db0-8efc-05e5f96a00e8)

---

**6. as per the comment above Display Duration is defined as "the time that the stimuli *should* remain on the display

[2021-12-10 09:04] mtg137 commented on #1777
5. @WorldImpex - could you please let us know expected behavior?
6. yes, you are correct, I'll fix it
7. yes I think their values are same ( since they are in different rows I thought data might be processed in different aspects )
@WorldImpex - could you please confirm it?
8. yes
9. in previous version of export document, the name of column was **Actual Display Offset(Clockstamp)**
it is now updat

[2021-12-10 14:19] WorldImpex commented on #1777
@mtg137 Please also update the below
1. In the test instructions we say "Practice instructions" Please just show Instructions
2. Replace the words Trail with Block
3. The stimulus for some combinations is overlapped on an iPhone 13 pro. Please fix

[2021-12-10 20:17] WorldImpex commented on #1775
Initial feedback:
1. Export has millisecond precision
2. Add "Click next to start" at the end of each instructional video
3. Add "Finished. Click next to continue." when the user completes each task
4. If user hits the wrong circle turn it green so the user knows to start from there. Green should disappear after the user resumes

[2021-12-11 08:19] mtg137 commented on #1778
@natalia-muzyka -
could you please upload some videos for this comment?
"Gyro version behaves differently on the devices"

1 - [touch version] Is it acceptable that when the disk is on the left side it reacts to gestures as expected on the right side only?
yes, I think that's expected behavior
the rule for calculating speed/direction of stimulus disc is
( disc position - center point ) + ( finger

[2021-12-11 08:29] mtg137 commented on #1778
10 - I think in current version, resuming activity will redirect user to starting point of phase that user was on.

@WorldImpex - could you please let us know expected behavior?

11, 12, 13 - let me look into it
14 - I think it is supposed to be decreased by 25%
15 , 16, 18 - let me look into it
17 - @WorldImpex - should we hide skip and back buttons on challenge and test phases?

[2021-12-13 07:41] natalia-muzyka commented on #1778
@mtg137
here are videos from some devices (the very beginning of the continuous phase):
iPad Air 2 // iOS 14.6: https://www.screencast.com/t/sIa9Ge1lFOi
Samsung Tab S6 // Android 9: https://www.screencast.com/t/sQQ18EKtS
iPhone 6S // iOS 14.4.2: https://www.screencast.com/t/AJdynoqt
Samsung S20 // Android 11: https://www.screencast.com/t/k7B7aLibVMw

Sometimes disk moves occasionally on all the te

[2021-12-13 08:48] natalia-muzyka commented on #1778
@WorldImpex @mtg137 do I need to dive into [this requirement doc](https://docs.google.com/document/d/1ToafpbAYB-DMtvuKpt306nHYfzSedAJdNdDJz4XQLRo/edit)?

[2021-12-13 10:02] WorldImpex commented on #1777
@mtg137
2.  I'm not sure why left-neutral and right-neutral event types would not be considered in Stimulus Types. They are clearly types of stimuli. A "-1" should represent fixation events, and 1-6 for each of the six stimulus types that you present. As for the numbering, It would be best if we could split L/R as odd and even, and arrange the stimulus types in ascending complexity, so: 1=left_neu

[2021-12-13 11:47] WorldImpex commented on #1778
No - We have the stakeholders confirming functionality. It would be good to compare the export with what fields have been requested

[2021-12-13 13:57] Matchdev120 commented on #1775
@Wil Would you explain 1) (the millisecond precision) a little more?

[2021-12-13 13:58] natalia-muzyka commented on #1775
**from the @WorldImpex comment:**

1. Detailed export is missing:
https://www.screencast.com/t/5dxqxdho7Mi
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/f08321e1-b702-4582-85b0-1f9866b1b29e)

2. Tasks do not match the provided assets (question: should they be exactly the same or just similar?)
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/a

[2021-12-13 15:54] natalia-muzyka commented on #1777
My comment:

**#1 & #2 fixed**
each test session contains 360 trials instead of 120
Total screen with greyed "Finish" button is displayed after each test block within the MAIN test
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/3a6de930-3a6e-40c9-8f15-267891898c41)

**#3 fixed:** Skip and Back buttons are removed from practice and test screen
![image.png](https://images

[2021-12-13 16:32] natalia-muzyka commented on #1777
[UI] OK and Continue button looks too big on small screen devices:
iPhone 6S // iOS 14.4.2 // 4.7
Samsung S7 // Android 8 // 5.1
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/2f562406-d0ae-41ef-918f-5daaa8e2b558)

[iPhone 6S / iOS 14.4.2] There is a few seconds delay after opening the test screen:
https://www.screencast.com/t/fUFcuZ5oZ

[2021-12-13 16:58] mtg137 commented on #1778
I think for we need x, y coordinates for just 2d version
for 1d version, x coordinate is exported on admin panel

and for stimulus disk change rate (7 and 8), it can be derived from 2 and it takes lot of space in the memory, so I dropped it in the data export

https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/bdfb3224-4906-448b-b122-9743878fb16c

[2021-12-13 17:59] mtg137 commented on #1777
@natalia-muzyka - for timestamp comment, I think there's difference because of timezone

in the data export, we use UTC timezone for activity start and activity end times
however in the [online converter](timestamp.online), they show date times in the user's browser's timezone

if we convert 12/13/2021 6:58:34 PM GMT+2 to utc time, it will be 12/13/2021 16:58:34 which is same as exported data

[2021-12-13 18:04] mtg137 commented on #1777
@WorldImpex - I think we have delay in some devices because it takes some time to preload some assets for the flanker task

can we show activity indicator while assets are loaded?

[2021-12-13 18:54] WorldImpex commented on #1777
Yes that works @mtg137

[2021-12-14 08:11] natalia-muzyka commented on #1775
@WorldImpex

4. Test A = trail 2, test B = trail 4? So trail 1 and trail 3 are samples without any timing, right?

6. I've got it from the ticket (the last option). Do you mean it is not a requirement anymore?
"If the user has E2 happen, then the line is erased to the last correct point and that correct point flashes green"

7. Could you confirm, please, if I understand the requirement correctly?

[2021-12-14 08:19] natalia-muzyka opened #2164 "[UI] There is a millisecond delay in displaying the CMI logo on the Login screen"
After reinstalling the application, or just killing the app CMI logo is displayed with a small delay.
Video: https://www.screencast.com/t/HFZmHYOYhI2

Samsung S7 // Android 8
Samsung S20 // Android 11
Samsung S8 // Android 9
iPhone 6S // iOS 14.4

[2021-12-14 10:34] natalia-muzyka commented on #1777
@mtg137 @WorldImpex could anyone clarify, please, what was changed in the export? I\m trying to compare Wil's latest comment but don't see any changes accordingly to it. Please, let me know what should I retest in the export.
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/3eb7fc62-82c6-4d32-a431-88989e7920bd)

**Not fixed issues:**

**_Wil's comment:_**
1. The "Practice

[2021-12-14 12:14] natalia-muzyka commented on #1410
@devbtech could you clarify, please, what was changed? I'm still not getting offline notifications.
Video (EMA): https://www.screencast.com/t/7svB1ltTJiY
Video (Geolocation test):

applet owner: bernard_ml@protonmail.com	qwe123!!!
applets: EMA, Geolocation test
Applet password: Qwe123!!!
Devices:
iPhone 6s	14.4
Samsung Galaxy S7 SM-G930FD	8.0
iPad Pro (10,5-inch) MQDX2	15.0
Samsung Galaxy Tab S6 S

[2021-12-14 12:50] natalia-muzyka commented on #2132
Verified as fixed on ML v0.18.15 staging
iPhone 6s 14.4
Samsung Galaxy S7 SM-G930FD 8.0
iPad Pro (10,5-inch) MQDX2 15.0
Samsung Galaxy Tab S6 SM-T865 9.0
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/1746d622-eed1-4683-9499-063125ac2a3e)

[2021-12-14 12:50] #2132 closed

[2021-12-14 13:03] WorldImpex commented on #1775
4. Yes
5. It is a requirement if the user hits the incorrect point
![image](https://user-images.githubusercontent.com/22243307/146001484-2159cdbd-c493-41b6-b2e4-97c12fe233ee.png)
6. Yes that is correct
10. We can focus on portrait mode

Additional - Yes I agree

[2021-12-14 13:10] WorldImpex commented on #1777
2. Yes it makes sense to leave these as trails

[2021-12-14 13:33] natalia-muzyka commented on #1777
ok, in this case, @mtg137 , please, change
1. the blocks back to trials:
-on the general instructions
-on the total screens (you responded correctly ...)
2. trial to block
-on the total screens last sentence (press the button below to end current...)
-on the practice instructions screen (press the next button to start next...)
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3d

[2021-12-14 13:47] natalia-muzyka opened #2165 "[UI][iPhone 13 Pro Max] Stimuli are overlapped on the activity screen"
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/88496b18-36da-48da-b88a-efe313d4f614)

[2021-12-14 14:36] lioneldeveauxcri commented on #1975
I'm really sorry, I made a typo in my translation
It's "Prenez **une** nouvelle photo"; "Prenez **une** nouvelle vidéo". I edited my comment accordingly.

[2021-12-14 14:58] natalia-muzyka commented on #1975
@binaryExDev could you change 'un" to "une" in both pop-ups as per the comment above? thank you
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/908ba249-b7e3-40b4-86a3-a00c448b196b)

[2021-12-14 15:19] natalia-muzyka opened #2167 "[iOS] App crashes on the activity screen"
Noticed that the application started crashing very often on these two devices (lowest supported devices) on the at least last two builds:
ML v0.18.14 staging
ML v0.18.15 staging
iPhone 6S / iOS 14.4
iPad Air 2 / iOS 14.6
iPhone 8 Plus / iOS 13.3

It isn't reproducible every time, but every few taken activities for sure.
Video:
https://www.screencast.com/t/1Nyfo49c8aL2

[2021-12-14 15:24] natalia-muzyka commented on #2125
Changes are reverted on:
ML v0.18.15 staging
Video: https://www.screencast.com/t/WDcB5Qez4Ku

Devices:
iPhone 6s 14.4
Samsung Galaxy S7 SM-G930FD 8.0
iPad Air 2 iOS 14.6
Samsung Galaxy Tab S6 SM-T865 9.0

[2021-12-14 16:18] natalia-muzyka opened #2168 "Timer is displayed on the age item screen though there is no Set response timer option for Age item in the Applet builder"
Video: https://www.screencast.com/t/sa3g2Y62w

owner: kimberly_ml@protonmail.com	12345678
applet  / activity: all items / regular activity,
Applet password:	Qwe123!!!

[2021-12-14 16:24] natalia-muzyka opened #2169 "Correct answer isn't accepted right after an attempt to submit incorrect answer"
The correct answer is accepted only after a second tap on the Next button.

![correct answer.gif](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/3f057035-9e23-4f3c-977e-e2c8ebe5c055)

ML v0.18.15 staging
Samsung S7 // Android 8
iPhone 8 Plus // iOS 13.3
owner: kimberly_ml@protonmail.com 12345678
applet / activity: all items / regular activity,
Applet password: Qwe123!!!

[2021-12-14 17:52] natalia-muzyka opened #2172 "[Android] Responses appear on the Data tab only after relogin"
**Steps to reproduce**
1. Complete any activity
2. Proceed to the Data tab, pay attention to the screen
3. Proceed to the main dashboard and refresh the screen
4. Proceed to the Data tab of previously completed applet/activity, pay attention to the screen
5. Relogin, proceed to the Data tab of previously completed applet/activity, pay attention to the screen

**Actual result**
Responses appear on

[2021-12-14 18:11] mtg137 commented on #1777
for the data export, I think [my PR](https://github.com/ChildMindInstitute/mindlogger-admin/pull/1371/commits/d06923fcf4f865dc23f745ae2146e8143fa7f4a7) on admin panel is not deployed

stimulus type and response time are fixed on the PR, I'll discuss with Ben to deploy PR

[2021-12-14 20:15] mtg137 commented on #1777
I discussed with @WorldImpex about the problem with closing and resuming activity

I think we are ok to restart trial after resuming activity

[2021-12-15 08:52] natalia-muzyka commented on #1777
@mtg137 @WorldImpex
I refreshed Flanker, started it on iPhone(ML v0.18.16 staging) and see:
1. there are only 6 trials per practice block,
2. 12 trials per test block,
3. infinity loader after tapping the "ok"/"continue"/"finish" button on total screen (can be fixed with tapping the Next/Done).
Video: https://images.zenhubusercontent.com/103405139/7c34e305-0e84-46cf-a5a2-fbdb04ed0da9/flanker.mp4

[2021-12-15 09:10] natalia-muzyka commented on #2167
Additional info: The issue is reproducible on accounts with big quantity of applets (>30):
alyssia_ml@protonmail.com	qwertyuio
josephine_ml@protonmail.com	qwertyui

On such accounts I haven't experienced crash isn't reproducible:
samanyu3@vqsprint.com 123456 (<15)
maddison_ml@protonmail.com qwertyuio (~30)

Resolved with optimization:
https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c2

[2021-12-15 11:54] natalia-muzyka commented on #1775
@Matchdev120  is this a correct version of A/B trails?
account: new16@test.org / abcd1234
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/d895de33-4b22-4340-b831-84991276baf0)

ML v0.18.16 staging

---

Samsung Tab S6 still doesn't recognize taps/pen and Samsung Tab S6 - App crashes on the activity screen (account new16@test.org / abcd1234): https://www.screencast.com/t/

[2021-12-15 14:48] WorldImpex commented on #1775
3. Agreed @natalia-muzyka
4. It would be if the user's next circle intersected was wrong then show the last correct circle turning green. It UI related to the user drawing to the next incorrect circle @natalia-muzyka

[2021-12-16 06:49] mtg137 commented on #1778
I fixed just bugs for touch version in the [PR](https://github.com/ChildMindInstitute/mindlogger-app/pull/1970)

[2021-12-16 10:08] natalia-muzyka commented on #1778
@mtg137 @WorldImpex

ML v0.18.18
- Control in this touch version became too easy, I just don't touch the device at all and disk stays in the middle.
- Looks like Challenge phase doesn't have 3 trials. Previously I lost control on disk 3 times within the challenge phase after a short period of time
- Challenge and Focus phases aren't completed automatically. Screen stays open. There are Undo and Ne

[2021-12-16 13:43] WorldImpex opened #2178 "Update SDK to Support iPad Mini Full Screen"
![image.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/18598caf-9805-47aa-82d2-977bff5c0a11)

[2021-12-16 16:04] natalia-muzyka commented on #1777
@mtg137 @WorldImpex
- [UX] User can accidentally close the Total screen when taps the stimuli on the last screen:
https://www.screencast.com/t/KgHSVcRXg2Wq

- Null value in CSV report if user didn't answer (Respond faster message)
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/3862ea4c-9311-4a3c-8cf8-12469f341141)

- I assume this is correct behavior, just want to be su

[2021-12-16 16:46] natalia-muzyka commented on #1655
Still reproducible on ML v0.18.18 staging

Pixel 3 XL	10.0
iPhone 12 Pro Max	15.0.1

[2021-12-16 16:47] natalia-muzyka commented on #1997
reproducible for geolocation item + text input as well:
https://www.screencast.com/t/BlJ3ivOrJgc

ML v0.18.18 staging
Pixel 3 XL	10.0
iPhone 12 Pro Max	15.0.1

[2021-12-17 14:10] natalia-muzyka commented on #1778
**Fixed:**
challenge and focus phases are automatically completed (challenge in ~3 min or after 3 crashes of stimulus disk, focus phase is completed in 5 min)

**Issues:**
challenge phase doesn't have 3 trials, I lost control only once because the OTCD time, so in the Focus phase controlling the stimulus disk is still too easy (I can just tap once a ~30 sec on the middle of the tap bar and that's

[2021-12-17 14:11] natalia-muzyka commented on #1775
Assets don't match the requirements in this version.

**Fixed:**
Samsung Tab S6 doesn't recognize taps/pen and Samsung Tab S6

Text is still missing in the demo and test screens on iPad and Samsung Tab S6:

Activity crashes after tapping on the incorrect point instead of "1" at the very beginning of the test:

Add "Finished. Click next to continue." when the user completes each task (last screen i

[2021-12-17 15:39] #2167 closed

[2021-12-17 15:39] natalia-muzyka commented on #2167
Verified as fixed:
ML v0.18.19 staging
accounts:
alyssia_ml@protonmail.com qwertyuio
josephine_ml@protonmail.com qwertyui
danielle_ml@protonmail.com	qwe123!!!
loui_ml@protonmail.com	12345678
devices:
iPhone 12 Pro Max // iOS 15.0.1
iPad Pro 10.5 // iOS 15.0.2
iPad Air 2 // iOS 14.6
iPhone 6S // iOS 14.4
iPhone 8 Plus // iOS 13.3

[2021-12-17 15:50] natalia-muzyka commented on #2034
reproducible for Pixel 3XL // Android 10 as well

[2021-12-17 15:52] natalia-muzyka commented on #1975
Verified as fixed on ML v0.18.19 staging
iPhone  8Plus // iOS 13.3
Pixel 3XL // Android 10
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/207bd9f7-1779-4752-b0cb-94d39df7d0df)

[2021-12-17 15:52] #1975 closed

[2021-12-17 16:06] natalia-muzyka commented on #1792
@binaryExDev  The date and time picker are still shifted to the left. Not reproducible on iPhone 8 Plus // iOS 13.3

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/e09bbdc8-2f17-424d-b024-277caedc415d)

Environment:
ML v0.18.18, 0.18.19 (staging)
iPhone 11 // iOS 14.2
iPad Pro 10.5 // iOS 15.0.2

[2021-12-17 17:02] natalia-muzyka opened #2181 "[UI/UX][CRI theme] The activity status has a bad visibility on the applet screen"
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/4a984f72-6201-4730-bd3d-2864095575b6)

ML v0.18.19 staging
Pixel 3XL // Android 10
iPhone 8 Plus // iOS 13.3
josephine_ml@protonmail.com	// qwertyui
applet: HBN josephine

[2021-12-17 17:26] natalia-muzyka commented on #1775
Full export + video for #20:
https://drive.google.com/drive/folders/199G1mQz0AH1V73JTaikOuIaqrtBI8NQ4?usp=sharing

[2021-12-17 17:37] jj105 commented on #1775
20 - for timestamp, since it should be relative to start of trial I think it's correct that starting point has timestamp 0

[2021-12-20 10:06] natalia-muzyka commented on #1775
@WorldImpex @Matchdev120

- v2 assets don't match, they should be exactly the same if I understood the feedback correctly?
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/f0ce1612-098d-411a-953b-474553eccfe3)

- trail2(test A) and trail3(sample B) reports are equal: total time in the report is 3747 ms though completing test A took ~30 seconds, and completing sample B too

[2021-12-20 10:51] natalia-muzyka commented on #2169
Verified as fixed: https://www.screencast.com/t/SFWS3RJhZpRh
ML v0.18.20 staging
Samsung S7 // Android 8
iPhone 8 Plus // iOS 13.3

[2021-12-20 10:51] #2169 closed

[2021-12-20 15:53] natalia-muzyka commented on #1410
Offline notifications still don't work. Checked on:
ML v0.18.20 staging
Samsung S7 // Android 8
Samsung S9 // Android 10
Samsung Tab S6 // Android 9
iPhone 6S // iOS 14.6
iPhone 8 Plus // iOS 13.3

video 1: https://www.screencast.com/t/NjKvqgI69
video 2: https://www.screencast.com/t/0QyfalhK
owner: kimberly_ml@protonmail.com // 1234567
applet: notifications check v2

[2021-12-20 16:57] natalia-muzyka commented on #1775
Retested the export.
@WorldImpex @jj105

1. Looks like export doesn't reflect the next type of errors:
E2 = Path stopped (User went from point 1 stopped and lifted finger from the screen)
I made such a mistake on:
video #1 trail2(test A) screen
video #2 trail1(sample A) screen, trail4(test B) screen

2. the duplicate trail2 report issue is reproducible. Looks like it depends on what the trail will

[2021-12-21 08:56] natalia-muzyka commented on #2172
Verified as fixed: https://www.screencast.com/t/hiY1VMZ7XA

ML v0.18.21 staging
accounts:
josephine_ml@protonmail.com qwertyui
kimberly_ml@protonmail.com 1234567
Samsung S9 // Android 10
Samsung S7 // Android 8

[2021-12-21 08:56] #2172 closed

[2021-12-21 08:59] natalia-muzyka opened #2187 "[UX][Flanker] User can accidentally close the Total screen when taps the stimuli on the last screen"
https://www.screencast.com/t/KgHSVcRXg2Wq

ML v0.18.18 staging
iPhone 8 Plus // iOS 13.3
iPad Pro 10.5 // iOS 15.0
Pixel 3XL // Android 10
Samsung S9 // Android 9
iPhone XS // iOS 15
12 Pro Max // iOS 15
Samsung A31 // Android 11

[2021-12-21 09:04] natalia-muzyka commented on #1777
Background behavior was confirmed as acceptable.
The rest three issues have separate reports now and are backlogged:

https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-app/2187
https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-admin/1385
https://app.zenhub.com/workspaces/

[2021-12-21 09:04] #1777 closed

[2021-12-21 11:25] natalia-muzyka commented on #1775
@WorldImpex @Matchdev120 @jj105

As I confirmed with Wil the Sample A and Sample B are ok to be displayed in this way (without adaptive width size), the main purpose is the correct displaying of Test A and Test B and distances between circles.
Current implementation of A/B trails:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/c89e2066-e07e-4123-a821-0808f59613d4)

---

[2021-12-22 10:53] natalia-muzyka commented on #1505
@devbtech
Reproducible on ML Pilot 0.18.21
Video: https://www.screencast.com/t/IVh3xBLj

Environment:
Samsung Galaxy S9	10.0
iPhone 6s	14.4
iPhone 8 Plus	13.3
Samsung Galaxy Tab S6 SM-T865	9.0

account: test-user3@com.us pass:123456789
applet: NIMH
Applet password: Qwe123!!!

[2021-12-22 17:16] natalia-muzyka commented on #1505
@devbtech
the issue is still reproducible,
video: https://www.screencast.com/t/ceW7FpzYevhZ

Environment:
ML Pilot 0.18.21 prod
Samsung Galaxy S9 10.0
iPhone 6s 14.4
iPhone 8 Plus 13.3
Samsung Galaxy Tab S6 SM-T865 9.0

account: test-user3@com.us pass:123456789
applet: scheduling check, scheduling check (1)

account: kimberly_ml@protonmail.com pass:12345678
applet: DBT(Kimberly) / Target Behaviors

[2021-12-23 10:28] natalia-muzyka commented on #1775
@Matchdev120 @WorldImpex  @jj105

**Fixed:**
Duplicated reports for trail2 and trail3

**New issues:**
- After opening the Test A(trail2) or Test B(trail 4) screen, the demo(instructions) is restarted. In case if there were no huge delays in completing the samples. After clicking the Skip or Next, If user has already started drawing, previously created lines are displayed, but user isn't able to c

[2021-12-23 15:05] WorldImpex commented on #1775
@natalia-muzyka
1. Yes I agree
2. The error should be reflected based on E1

![image.png](https://images.zenhubusercontent.com/5e1336f1b24025a7b2654475/d88eb85c-e169-4351-8dac-cee1a5db614e)

[2021-12-27 13:32] WorldImpex commented on #1778
@mtg137 Could you move the lambda slope back to 20?

[2021-12-28 09:01] natalia-muzyka commented on #1505
Verified as fixed: https://www.screencast.com/t/JoLHbxt1

Environment:
ML Pilot 0.18.21 prod
Samsung Galaxy S9 10.0
iPhone 6s 14.4
iPhone 8 Plus 13.3

[2021-12-28 10:20] jj105 commented on #1775
I had discussion with @WorldImpex,
for question 2), I think we don't need to export in the csv if user starts from wrong point for now

and about this comment,
![image.png](https://images.zenhubusercontent.com/5e565f9bd9593e11ebab005a/9a1c3fc6-52c3-4cd0-8318-7945aa53f4b6)

although you didn’t try to draw from 4 to 5 intentionally, I think you put her finger on the screen few more milliseconds afte

[2021-12-28 11:15] natalia-muzyka opened #2195 "App crashes after completing Token Logger activity"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with a Past behavior tracker
3. Add and set up at least one behavior (e.g. positive behavior)
4. Save the activity
5. Complete activity on Mobile app
6. Pay attention to the screen

**Actual result**
App cras

[2021-12-28 11:24] natalia-muzyka opened #2196 "App crashes after tapping the Return button on the Token Logger activity screen"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/

**Steps to reproduce**
1. Open a site https://admin-staging.mindlogger.org/
2. Create an activity with a Past behavior tracker
3. Add and set up at least one behavior (e.g. positive behavior)
4. Save the activity
5. Open activity on Mobile app
6. Tap the Return button
7. Pay attention to the screen

**Act

[2021-12-28 14:16] natalia-muzyka opened #2197 "Update Rate of increase to be in HH:MM format"
As per the requirements Rate of increase can only contain numbers:
the min value is 1 minute,
and max value is 24h

Currently, the "Rate of increase" is the numerical **minutes** value. Editor is able to enter any numeric value, including decimals, negative values, text.

https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/59b85f1d-2493-4066-8530-55ebae79e114

[2021-12-28 14:29] natalia-muzyka commented on #2195
@jj105  The issue is reproducible for any type of activity.

[2021-12-28 16:45] natalia-muzyka commented on #2060
@WorldImpex
1. should be there the "0" value on the behavior icon if user didn't earn any tokens?
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/782b1fc7-d14d-4a89-89dd-4dd1a957da0b)

2. tokens for completing the activity can be earned only after completing the future behavior tracker?
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/37ea374b-2

[2021-12-28 17:45] natalia-muzyka opened #2198 "[UI] The behavior name longer than 30 characters overlaps the next cart on the activity screen"
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/19582be1-48fe-4207-9601-d5a6ac9d6041)

Environment:
https://admin-staging.mindlogger.org/
account:
bernard_ml@protonmail.com // qwe123!!!
applet: TL refresh test
Applet password: Qwe123!!!
ML v0.18.24 staging
Samsung Galaxy S9 // Android 10.0

[2021-12-28 17:54] natalia-muzyka opened #2199 "App crashes if user enters a large number of occurences in the pop up"
Video: https://www.screencast.com/t/gV8CaVV8qc

Suggestion: To define limitations for entering the value of occurrences.

Environment:
ML v0.18.24 staging
Samsung Galaxy S9 // Android 10.0
iPhone 8 Plus // iOS 13.3
account:
bernard_ml@protonmail.com // qwe123!!!
applet: TL refresh test
Applet password: Qwe123!!!

[2021-12-28 17:56] natalia-muzyka opened #2200 "Activity screen is automatically scrolls up and down when user tries to intearct with the 2D slider"
Samsung S9 / Android 10: when there are a lot of occurrences and list is scrollable
iPhone 8 Plus / iOS 13.3: even if there is only one occurrence

Video: https://www.screencast.com/t/QPuXMyblM9d

Environment:
ML v0.18.24 staging
Samsung Galaxy S9 // Android 10.0
iPhone 8 Plus // iOS 13.3
account:
bernard_ml@protonmail.com // qwe123!!!
applet: TL refresh test
Applet password: Qwe123!!!

[2021-12-28 17:57] natalia-muzyka opened #2201 "[UI] The images on TokenLogger summary screen are pixelate"
Screenshot:
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/cd6ada1e-0cf7-41cf-87b8-b3078a6a99d0)

Environment:
ML v0.18.24 staging
Samsung Galaxy S9 // Android 10.0
iPhone 8 Plus // iOS 13.3
account:
bernard_ml@protonmail.com // qwe123!!!
applet: TL refresh test
Applet password: Qwe123!!!

[2021-12-28 18:00] natalia-muzyka opened #2202 "The default keyboard is opened instead of numerical keyboard after tapping the Quantity of occurences input field"
Video: https://www.screencast.com/t/K6ACT9ghHm

Environment:
ML v0.18.24 staging
Samsung Galaxy S9 // Android 10.0
iPhone 8 Plus // iOS 13.3
account:
bernard_ml@protonmail.com // qwe123!!!
applet: TL refresh
Applet password: Qwe123!!!

[2021-12-29 00:14] binaryExDev commented on #1978
@WorldImpex Could you clarify the requirement above?

[2021-12-29 08:39] natalia-muzyka opened #2204 "[UI] There are no left-padding and right-padding in the Quantity of occurences pop-up"
![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/9ad3d168-a2d0-4c67-adf8-06c0564ba271)

Environment:
ML v0.18.24 staging
iPhone 8 Plus // iOS 13.3 // 1080x1920	5,5"
account:
bernard_ml@protonmail.com // qwe123!!!
applet: TL refresh test
Applet password: Qwe123!!!

[2021-12-29 08:43] natalia-muzyka opened #2205 "[UI] The value is underlined in the Quantity of occurences input field"
Expected: The value shouldn't be underlined

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/087d7595-c6b6-4564-baf2-99fdf1f478ad)

Environment:
ML v0.18.24 staging
Samsung Galaxy S9 // Android 10.0
account:
bernard_ml@protonmail.com // qwe123!!!
applet: TL refresh test
Applet password: Qwe123!!!

[2021-12-29 09:10] natalia-muzyka opened #2206 "[UI] Menu button isn't pulsing when there are occurences with not filled out time/slider"
Question:
[Requirements](https://app.zenhub.com/workspaces/mindlogger-webapp-5e11094d0c26311588da9626/issues/childmindinstitute/mindlogger-applet-builder/498):
Menu button opens a new page where the user can enter the time of the occurrence and a 2D slider to rate distress and impairment.
If any occurrence does not have a time and 2D slider filled out then show the blue/ purple in the button pulsi

[2021-12-29 10:06] WorldImpex commented on #2206
@natalia-muzyka It should pulsate through this gradient

![Uploading Screen Shot 2021-12-29 at 5.05.23 AM.png…]()

[2021-12-29 10:10] WorldImpex commented on #2060
1. I dont think we should show in the summary the token items not earned
2. Retrospective = past and prospective = future. So for everytime a past activity is completed the user should receive 2 tokens

[2021-12-29 10:44] natalia-muzyka commented on #2060
I'm sorry, question #1 was incorrect, it is the token value for behavior and it should be shown always. There is an issue in displaying the token value (creating report)

![image.png](https://images.zenhubusercontent.com/60ab57c8916945b978a3da92/7dd5658e-f381-4aec-b681-a99b260e2c2d)

[2021-12-29 11:00] natalia-muzyka opened #2207 "[Summary] Quantity of occurrences is shown on bottom right of behavior icon instead of the Token value for a behavior"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with past behavior tracker item (at least one positive behavior with name and token value is added):
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Open the TL past behavior activity on the

[2021-12-29 11:24] natalia-muzyka opened #2208 "[Summary] The "Done" button is displayed instead of the "Next" button"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with past behavior tracker item (at least one positive behavior with name and token value is added):
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Open the TL past behavior activity on the

[2021-12-29 11:47] natalia-muzyka commented on #2060
@WorldImpex should user have the ability to turn Back from the Summary screen? On assets there is a Return button Does it mean closing the activity? Currently, user can move back and change selections. Data on Summary screen will be changed accordingly to the new selections.

[2021-12-29 12:54] WorldImpex commented on #2060
1 Yes
2 I think we should remove that The user might think that the first submission was saved and go back to add more and lose data. Good catch

[2021-12-29 13:08] natalia-muzyka opened #2209 "[Future behavior tracker] Hitting the left btn on any behavior doesn't unpause the timer"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "5 minutes" option
3. Tap the pause b

[2021-12-29 13:19] natalia-muzyka opened #2210 "[Future behavior tracker] The manual entry widget is shown up after a long tap on the left button of the behavior"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "5 minutes" option
3. Long tap on the

[2021-12-29 13:28] natalia-muzyka opened #2211 "[Future behavior tracker] Time is not automatically set up after user tapped the left btn on the behavior"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "5 minutes" option
3. Tap any behavio

[2021-12-29 13:42] natalia-muzyka opened #2212 "[Future behavior tracker] Time value is editable during the activity and after time is run out"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "5 minutes" option
3. Tap the menu bt

[2021-12-29 13:46] natalia-muzyka opened #2213 "[Future behavior tracker] The '-1:-1" value is displayed on the right side of timer instead of the "0:00" when time is up"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "5 minutes" option
3. Wait when time

[2021-12-29 13:56] natalia-muzyka opened #2214 "[Future behavior tracker] The play/pause btn isn't deactivated when time is up (stays clickable)"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "5 minutes" option
3. Wait when time

[2021-12-29 14:54] natalia-muzyka opened #2215 "[UI][Future behavior tracker] Bar isn't turned yellow when the timer is paused"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "5 minutes" option
3. Tap Play btn
4.

[2021-12-29 15:03] natalia-muzyka opened #2216 "[UI][Future behavior tracker] Left buttons on the behavior items aren't deactivated when time is up"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "5 minutes" option
3. Wait when time

[2021-12-29 15:12] natalia-muzyka opened #2217 "[Summary] The "Back" button should be removed from the screen"
Currently, user can move back and change selections (in the past behavior activity). Data on Summary screen will be changed accordingly to the new selections. In the future behavior activity user won't be able to add occurrences after moving back.

The "Back" button should be removed from the screen because the user might think that the first submission was saved and go back to add more and lose d

[2021-12-29 15:32] natalia-muzyka opened #2218 "[UI][Future behavior tracker] Unnecessary UI element on the timer right side after selecting "No time limit" option"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap the "No time limit" option
3. Pay attenti

[2021-12-29 15:54] natalia-muzyka commented on #2060
@WorldImpex
for #2: So if I understand the requirements and your answer correctly, after completing the past behavior activity I should always see 2 tokens earned, right?
And if I complete the future activity, earned tokens depend on the preset timer duration (time option that was selected in the very beginning, but not the actual time that I spent, 'cause I can hit Next before time is up(I assume

[2021-12-29 16:00] WorldImpex commented on #1775
- Update activity version 2 name to "Trails_iPad"
- Update activity version 1 name to "Trails_At_Home"
- Change Please take a pen to "You will take a pen"
- Change instructions to each pause there is a next button
- Turn the first letter green from to black when the user starts
- Drop the radius of each circle on  test A & B by 5% and copy that to sample A & B. The x,y is correct but the circle sh

[2021-12-29 16:44] natalia-muzyka opened #2219 "[Future behavior tracker] Timer is restarted after resuming the activity"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with future behavior tracker item
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Start the future behavior tracker activity on the mobile app
2. Tap on any behavior (add occurrence)
3. Close

[2021-12-29 17:01] mtg137 commented on #2060
I think if I complete future behavior activity with "no time limit option", I should earn 2 tokens

and after completing the past behavior activity I should always earn 2 tokens

[2021-12-29 18:32] WorldImpex commented on #2060
@natalia-muzyka For future behavior tracker, the user has a choice of up to 15 minutes.
![image](https://user-images.githubusercontent.com/22243307/147692566-183db995-b4b6-47fd-9e14-a34f32481a47.png)

The calculation is based on the time the user spends and the calculation is based on every 5 minutes earning 2 tokens. So as a user if I select 15 minutes then I receive 6 tokens. If I end the sessio

[2021-12-29 19:38] WorldImpex opened #2220 "CST remove off target crash"
The user should be able to be off-target for the duration of the sample or test without an automatic crash

[2021-12-30 11:30] WorldImpex opened #2224 "Change name of Stability Tracker's Activities"
Stability tracker touch to Stability_Task_touch
Stability tracker gyro to Stability_Task_Tilt

[2021-12-30 11:32] WorldImpex opened #2225 "Change Applet name of Flanker to Flanker_iPad"

[2021-12-30 15:47] mtg137 commented on #2208
@natalia-muzyka - I discussed with @WorldImpex for this, I think we want to display "Done" button on summary screen

[2021-12-30 17:07] natalia-muzyka opened #2228 "The additional token(+1) isn't earned after submitting the behavior with all the filled out background cards"
**Preconditions**
User is logged in on the admin panel
https://admin-staging.mindlogger.org/
bernard_ml@protonmail.com // qwe123!!!
There is activity with past behavior tracker item (at least one positive behavior with name and token value is added):
applet: TL refresh test
Mobile app is installed and launched, user is logged in

**Steps to reproduce**
1. Open the TL past behavior activity on the